<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/public/loading-bar.css"/> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
      html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    </style>
    <title>ttgapp</title>
  </head>
  <body>
    {% load render_bundle from webpack_loader %}
    <div id="app"></div>
    <app> </app>
    {% render_bundle 'main' %}
    <!-- <script src="/dist/bundle.js"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- <script type="text/javascript" src="/public/loading-bar.js"></script> -->
  </body>
</html>
