<template>
  <div class="catList">
    <div class="catYou"> <!--  You -->
      <img class="catIcon" v-if="userName === 'Red Cat'" src="../assets/catRed.png" alt="Avatar"/>
      <img class="catIcon" v-if="userName === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar"/>
      <img class="catIcon" v-if="userName === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar"/>
      <img class="catIcon" v-if="userName === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar"/>
      <img class="catIcon" v-if="userName === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar"/>
      <div class="catInfo">
        <div class="catName" style="color: white; font-size: 1vw">{{ userName }} (You)</div>
        <div class="catClimbInfo">
          <span style="color: black; font-size: 1vw">Height</span>
          <span class="ladderIcon"></span>
          <span style="color: white; font-size: 2vw">{{ userStamina }}</span>
        </div>
      </div>
    </div>
    <div v-bind:class="{'catOther': user.status==='inPlay', 'catOtherGrey': user.status==='outPlay'}"
      v-for="(user, index) in userList"
      :key="index"
      v-if="user.name!==userName">
      <img class="catIcon" v-if="user.name === 'Red Cat'" src="../assets/catRed.png" alt="Avatar"/>
      <img class="catIcon" v-if="user.name === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar"/>
      <img class="catIcon" v-if="user.name === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar"/>
      <img class="catIcon" v-if="user.name === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar"/>
      <img class="catIcon" v-if="user.name === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar"/>
      <div class="catInfo">
        <div class="catName" style="color: white; font-size: 1vw">{{ user.name }}</div>
        <div class="catClimbInfo">
          <span style="color: black; font-size: 1vw">Height</span>
          <span class="ladderIcon"></span>
          <span style="color: white; font-size: 1.5vw">{{ user.stamina }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
var unsub = () => {}
   export default{
       props:[],
       computed: {
         userList() {
           return this.$store.state.userList
         },
         gameId() {
           return this.$store.state.gameId
         },
         uid() {
           return this.$store.state.uid
         },
         userName() {
           return this.$store.state.userName
         },
         userStamina() {
           return this.$store.state.userStamina
         }
       },
       created () {
          var usersRef = this.$store.state.db.collection('games').doc(this.gameId).collection('users')
          unsub = usersRef.onSnapshot((querySnapshot) => {
            var you = querySnapshot.docs.filter(doc => doc.data().uid === this.uid).map(doc => ({
              //name: doc.data().name.substring(0, doc.data().name.lastIndexOf("@"),
              name: doc.data().nickname,
              uid: doc.data().uid,
              stamina: doc.data().stamina,
              score: doc.data().score,
              status: doc.data().status,
              share: 0,
              nextProposal: doc.data().nextProposal ? doc.data().nextProposal : 0,
            }))
            var others = querySnapshot.docs.filter(doc => doc.data().uid !== this.uid).map(doc => ({
              //name: doc.data().name.substring(0, doc.data().name.lastIndexOf("@"),
              name: doc.data().nickname,
              uid: doc.data().uid,
              stamina: doc.data().stamina,
              score: doc.data().score,
              status: doc.data().status,
              share: 0
            }))
             var users = you.concat(others)
             this.$store.commit('updateUserList', users)
             this.$store.commit('storeProposalWindowList', users)
           })
         },
         beforeDestroy() {
           unsub()
         }

   }
</script>
<style scoped lang="scss">
@import "../css/style.css";
</style>
