<template>
  <div class="feedback">
    <h2>Please let us know what we can improve</h2>
    <div class="opinion">
      <h3>Graphic</h3>
      <textarea v-model="graphic" placeholder=""></textarea>
    </div>
    <div class="opinion">
      <h3>Gameplay</h3>
      <textarea v-model="gameplay" placeholder=""></textarea>
    </div>
    <div class="opinion">
      <h3>Other comments</h3>
      <textarea v-model="other" placeholder=""></textarea>
    </div>
    <button class="pure-button pure-button-primary" @click="submit">Submit</button>

  </div>
</template>

<script>
import firebase from '../config/firebase'
export default {
  name: 'Feedback',
  data() {
    return {
      graphic: '',
      gameplay: '',
      other: ''
    }

  },

  methods: {
    submit() {
      var timestamp = Number(new Date().getTime()) + ""
      this.$store.state.db.collection('feedback').doc(timestamp).set({
        graphic: this.graphic,
        gameplay: this.gameplay,
        other: this.other,
      }).then(() => {
        this.$router.push('/hello')
      })

    }
  },

}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";
/* start new Ui */
.feedback {
  padding: 3%;
}
textarea {
  width: 80%;
}
</style>
