<template>
  <div class="fishList">

    <div class="allFish pure-g">
      <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
      v-for="(profit, index) in profitList"
      :key="index">
      <popper trigger="click" :options="{placement: 'auto', positionFixed: true}"
      :disabled="currentTaskName!==profit.name">


      <div class="proposeBox popper">
        <span>Divide the fish!</span>
        <div
        v-for="(proposeTarget, index) in proposalWindowList"
        :key="index"
        >
        <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
          <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../assets/RedCat.png" ></span>
          <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../assets/BlueCat.png" ></span>
          <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../assets/BrownCat.png" ></span>
          <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../assets/GreenCat.png" ></span>
          <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../assets/YellowCat.png" ></span>
          <span class="pure-u-6-8"><range-slider
            class="slider"
            min="0"
            :max= "profit.value"
            step="1"
            v-model="proposeTarget.share">
          </range-slider></span>
          <span class="pure-u-1-8"><input type="number" min="0" :max="profit.value" v-model.number="proposeTarget.share"></span>


        </div>
      </div>

      <div><button class="button"v-if="!showPendingProposal && canPropose" @click="normalize()">Normalize</button>
        <button class="button"v-if="!showPendingProposal && canPropose" @click="checkProposal()">Submit</button>
      </div>
      <div class="error">{{ errorMessage }}</div>
      <span v-if="showPendingProposal || !canPropose">Cannot make proposal now</span>
    </div>

    <div slot="reference" class="ladder" @click = "makeProposal(profit.value, profit.stamina, profit.name)">
      <!-- <span style="color: #6D4620; font-size: 25.4pt; font-family: Impact, Charcoal, sans-serif">{{ profit.value }}</span> -->
      <fish1 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==0'> </fish1>
      <fish2 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==1'> </fish2>
      <fish3 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==2'> </fish3>
      <fish4 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==3'> </fish4>
      <fish5 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==4'> </fish5>

    </div>

  </popper>


</div>
</div>
<div class="penalty">
  <span>You can propose in: <span id="proposal-penalty">0s</span> </span>
</div>
<div class="guide">
  Click on a ladder (a fish) in order to open a proposal.

</div>
</div>
</template>
<script>

import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from './fish/FishOne.vue'
import FishTwo from './fish/FishTwo.vue'
import FishThree from './fish/FishThree.vue'
import FishFour from './fish/FishFour.vue'
import FishFive from './fish/FishFive.vue'
import Popper from './Popper.vue';
import GamesServices from '../services/GamesServices'

var penaltyTimer;
var penaltyBar
export default{
  props:[],
  data() {
    return {
      errorMessage: '',
      canPropose: true,
    }
  },
  computed: {
    gameId() {
      return this.$store.state.gameId
    },
    uid() {
      return this.$store.state.uid
    },
    userName() {
      return this.$store.state.userName
    },
    profitList() {
      return this.$store.state.profitList
    },
    proposalWindowList() {
      return this.$store.state.proposalWindowList
    },
    currentTaskName() {
      return this.$store.state.currentTaskName
    },
    showPendingProposal() {
      return this.$store.state.pendingProposal.length > 0
      // return false
    },
    sum() {
      var total = 0;
      this.$store.state.proposalWindowList.forEach(element => {
        if (!isNaN(element.share) && Number(element.share) !== 0) {
          total += Number(element.stamina)
        }
      });
      return total
    },
    nextProposal() {
      return this.$store.state.nextProposal
    }
  },
  watch: {
    nextProposal() {
      this.startProposalPenalty();
      this.canPropose = false;
      penaltyTimer = setTimeout(() => {
        this.canPropose = true
        clearInterval(penaltyBar)
        document.getElementById("proposal-penalty").innerHTML ='0s'
        document.getElementsByClassName("penalty")[0].style.backgroundColor = 'blue'
      }, Number(this.nextProposal) - Number(new Date().getTime())) //5 minutes
    }
  },
  components: {
    RangeSlider,
    "fish1" : FishOne,
    "fish2" : FishTwo,
    "fish3" : FishThree,
    "fish4" : FishFour,
    "fish5" : FishFive,
    "popper": Popper,
  },
  methods: {
    startProposalPenalty () {
      var elem = document.getElementById("proposal-penalty");
      var currentTime = Number(new Date().getTime());
      var nextProposal = Number(this.nextProposal);
      var width = - Math.round(((currentTime - nextProposal)/1000));
      if (width > 0) {
        document.getElementsByClassName("penalty")[0].style.backgroundColor = 'red';
      }
      clearInterval(penaltyBar)
      penaltyBar = setInterval(frame, 1000); //increase timer bar every 1 second
      function frame() {
        if (width > 0) { //5 minutes
          currentTime = Number(new Date().getTime());
          width = - Math.round(((currentTime - nextProposal)/1000));
          // elem.style.width = (width/3) + '%';
          elem.innerHTML = width * 1 +'s';
        }
      }
    },
    normalize() {
      var value = 0
      this.profitList.forEach(profit => {
        if (profit.name === this.currentTaskName) {
          value = profit.value
        }
      })
      var totalWeight = 0
      this.proposalWindowList.forEach(proposalTarget => {
        totalWeight += proposalTarget.share
      })
      var acc = 0
      var acc_norm = 0
      this.proposalWindowList.forEach(proposalTarget => {
        acc += proposalTarget.share
        if (acc < totalWeight) {
          proposalTarget.share = Math.floor(proposalTarget.share/totalWeight * value)
        } else {
          proposalTarget.share = value - acc_norm
        }
        acc_norm += proposalTarget.share
      })
    },
    //open window to start proposing
    makeProposal(value, stamina, taskName) {
      this.errorMessage = ''
      if (this.currentTaskName===taskName) {
        this.$store.commit('setCurrentTaskName','')
      } else {
        this.$store.commit('setCurrentTaskName', taskName)
      }

      this.$store.commit('resetProposalWindowList')
    },
    checkProposal () {
      var value = 0
      var neededStamina = 0
      var originalValue = 0
      var checkActivePlayer = true
      var currentShare = 0
      this.profitList.forEach(profit => {
        if (profit.name === this.currentTaskName) {
          value = profit.value
          neededStamina = profit.stamina
          originalValue = value
        }
      })
      this.proposalWindowList.forEach(element => {
        if (element.status !== 'inPlay') {
          checkActivePlayer = false
        }
        if (!isNaN(element.share)) {
          value = value - Number(element.share)
          if (Number(element.share) !== 0) {
            neededStamina = neededStamina - Number(element.stamina)
          }
          if (element.name === this.userName) {
            currentShare = Number(element.share)
          }
        }
      })
      if (!checkActivePlayer) {
        this.errorMessage = 'Do not propose to inactive players!'
      }
      if (value !== 0) {
        this.errorMessage = 'Total share must sum to the reward!'
      } else if (currentShare === 0){
        this.errorMessage = 'Do not take 0 share!'
      } else if (neededStamina > 0) {
        this.errorMessage = 'You don’t have enough ladder height!'
      } else if (!this.canPropose) {
        this.errorMessage = 'You are penalized for your unsuccessful proposal!'
      } else {
        this.errorMessage = ''
        this.sendProposal(originalValue)
      }
    },
    sendProposal (taskValue) {
      var pendingProposalRef = this.$store.state.db.collection('games').doc(this.gameId).collection('pendingPropose')
      var batch = this.$store.state.db.batch()
      var timeCreated = new Date().getTime()
      var currentDoc = this.$store.state.db.collection('games').doc(this.gameId)
      batch.update(currentDoc, {
        pendingPropose: 1
      })
      this.proposalWindowList.forEach(proposalTarget => {
        if (proposalTarget.share!==0) {
          var ref = pendingProposalRef.doc(proposalTarget.uid)
          if (proposalTarget.name === this.userName) {
            batch.set(ref, {
              name: proposalTarget.name,
              share: Number(proposalTarget.share),
              response: 'Yes',
              taskName: taskValue + '',
              sender: this.userName,
              uid: proposalTarget.uid,
              timeCreated: timeCreated
            })
          } else {
            batch.set(ref, {
              name: proposalTarget.name,
              share: Number(proposalTarget.share),
              response: 'None',
              taskName: taskValue + '',
              sender: this.userName,
              uid: proposalTarget.uid,
              timeCreated: timeCreated
            })
          }
        }
      })
      var userRef = this.$store.state.db.collection('games').doc(this.gameId).collection('users').doc(this.uid)
      batch.commit().then(() => {
        GamesServices.checkProposal(this.gameId)
        .catch((err) => {
          console.log("Error while sending signal to server")
        })
        this.$store.commit('setCurrentTaskName','') //close propose window after sending the propose
      }).catch ((err) => {
        console.log('Error sending propose: ', err)
      })

    },
  },
  created () {
    var gameInfoRef = this.$store.state.db.collection('games').doc(this.gameId)
    gameInfoRef.get().then((doc) => {
      if (doc.exists) {
        var thresholds = doc.data().thresholds
        var values = doc.data().values
        var profitList = []
        var minThreshold = 999
        //get the actual profit list from database
        for (var i = 0; i < thresholds.length; i++) {
          profitList[i] = {
            name: 'Profit ' + i,
            stamina: thresholds[i],
            value: values[i],
          }
          minThreshold = Math.min(minThreshold, thresholds[i])
        }
        //decide the value rank of each profit
        values.sort()

        for (var i = 0; i < profitList.length; i++) {
          profitList[i].rank = values.indexOf(profitList[i].value)
        }
        this.$store.commit('storeProfitList', {"profitList": profitList, "minThreshold": minThreshold})
      } else {
        console.log('game info not exist')
      }
    }).catch ((err) => {
      console.log('error gettting game info: ', err)
    })
  },
  beforeDestroy() {
    clearTimeout(penaltyTimer)
    clearInterval(penaltyBar)
  }

}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";

.popper {
  height: 250px;
  width: 240px;
}
.error {
  color: #cc3300
}

input[type=number] {
  width: 40px;
  border: 1px solid black;
}
.guide {
  margin: 7px;
  background-color: #22b573;
  padding: 5px;
  box-shadow: 5px 5px #888888;
  color: white;

}
.penalty {
  margin: 7px;
  background-color: blue;
  padding: 5px;
  box-shadow: 5px 5px #888888;
  color: white;

}
</style>
