<template>
  <div class="container">

    <!-- <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Collab</a>

        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="/#/about" class="pure-menu-link">About</a></li>
        </ul>
      </div>
    </div> -->
    <div class="splash-container">
      <div class="splash">
        <img class="pure-img" src="../assets/gameLogo.png">
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <div class="description">
          <p>This is a collaborative game involving multiple players (cats).
            Some rewards (fish) are located at the top of the shelves, which players want to get.
            Each player possesses a ladder that can climbs a certain height and needs to cooperate with other players to climb to the top of a shelf.
            Players have to decide whom they want to cooperate, which fish to get and how to partition the fish.
          </p>
          <div class="guide">
            <button class="pure-button pure-button-primary" @click="toTutorial">How to play</button>
          </div>
        </div>

        <div class="loaderSection">
          <span class="loader"></span>
        </div>
        <span class="notification">{{ message }}</span>
        <div class="pure-g start">
          <div class="pure-u-1 pure-u-md-1-2">

            <h2 class="content-head is-center">Play anonymously</h2>
            <div class="guide">
              <button class="pure-button pure-button-primary" @click="signInAnonymously">Start</button>
            </div>
          </div>
          <div class="form pure-u-1 pure-u-md-1-2">
            <h2 class="content-head is-center">Sign in to play</h2>
            <div class="userInput">
              <input id='email-input' class="customInputBox" type="email" placeholder="Email" v-model="pendingEmail">
              <input class="customInputBox" type="password" placeholder="Password" v-model="pendingPassword">

            </div>

            <div class="userButton">
              <div class="pure-button pure-button-primary sign-in" @click="signInUser">Login</div>
              <div class="no-account"><a href="/#/signup">Don't have an account? Sign up</a> </div>
            </div>

          </div>

        </div>

      </div>


    </div>
  </template>

  <script>
  import firebase from '../config/firebase'
  import GamesServices from '../services/GamesServices'


  export default {
    name: 'GameStart',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        pendingEmail: '',
        pendingPassword: '',
        uid: '',
        gameid: '',
        weight: '',
        message: '',
      }
    },

    methods: {
      toGameRoom () {
        this.$router.push(`/hello`)
      },
      toTutorial () {
        this.$router.push(`/tutorial`)
      },
      toMain () {
        this.$router.push(`/`)
      },
      signInUser () {
        document.getElementsByClassName('loaderSection')[0].style.visibility = 'visible';
        document.getElementsByClassName('notification')[0].style.visibility = 'hidden';


        var _this = this;

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
        .then(() => {
          firebase.auth().signInWithEmailAndPassword(_this.pendingEmail, _this.pendingPassword)
          .then((user) => {
            _this.uid = user.user.uid
            _this.toGameRoom()
          })
          .catch((error) => {
            document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden';
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            if (errorCode === 'auth/wrong-password') {
              this.message = 'Wrong password';
            } else if (errorCode == 'auth/user-not-found') {
              this.message = 'No such user. Sign up first!';
            } else if (errorCode == 'auth/invalid-email') {
              this.message = 'Invalid email';
            }
            document.getElementsByClassName('notification')[0].style.color = 'red';
            document.getElementsByClassName('notification')[0].style.visibility = 'visible';
          })
        })
        .catch((error) => {
          document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden'
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          if (errorMessage === 'The password is invalid or the user does not have a password.') {
            this.message = 'Wrong password';
          } else if (errorMessage === 'There is no user record corresponding to this identifier. The user may have been deleted.') {
            this.message = 'No such user. Sign up first!';
          }
          document.getElementsByClassName('notification')[0].style.color = 'red';
          document.getElementsByClassName('notification')[0].style.visibility = 'visible';

        });
      },
      //user already exists
      signInAnonymously () {
        document.getElementsByClassName('loaderSection')[0].style.visibility = 'visible';
        document.getElementsByClassName('notification')[0].style.visibility = 'hidden';


        var _this = this;

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
        .then(() => {
          firebase.auth().signInAnonymously()
          .then((user) => {
            _this.uid = user.user.uid
            _this.toGameRoom()
          })
          .catch((error) => {
            document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden';
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            if (errorCode === 'auth/operation-not-allowed') {
              this.message = 'Operation not allowed. Please try again.';
            } else {
              this.message = 'An error has occurred. Please try again.';
            }
            document.getElementsByClassName('notification')[0].style.color = 'red';
            document.getElementsByClassName('notification')[0].style.visibility = 'visible';
          })
        })
        .catch((error) => {
          document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden'
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          this.message = 'An error has occurred. Please try again.';
          document.getElementsByClassName('notification')[0].style.color = 'red';
          document.getElementsByClassName('notification')[0].style.visibility = 'visible';

        });
      },
    },

    mounted () {
      //sign out current user first
      // await firebase.auth().signOut()
      console.log('current user signed out')
      //set user data observer
      try {
        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            this.uid = user.uid
            this.toGameRoom()
          } else {
            console.log('No user currently signed in')
          }
        })
      } catch (err) {
        console.log('Error signing out user: ', err)
      }
    },
  }
  </script>

  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped lang="scss">
  @import "../../node_modules/purecss/build/pure-min.css";
  @import "../../node_modules/purecss/build/grids-responsive-min.css";
  @import "../css/pure-template.css";
  @import "../css/style.css";
  /* Disable blue border focus in all basic form elements */


  input[type="email"] {
    font-size: 19px;
  }
  input[type="password"] {
    font-size: 19px;
  }

  .description {
    font-size: 130%;
    width: 80%;
    margin: auto;
    text-align: justify;
  }

  .start {
    width: 80%;
    margin: auto;
  }
  .no-account {
    text-decoration: underline;
  }
  .guide {
    text-align: center;
  }
  </style>
