<template>
  <div class="container">
    <waitingscreen v-bind:isWaiting='isWaitingForPlayer'
    :uid='uid'
    :time='time'
    :roomid='roomid'></waitingscreen>


    <div class="catListAndFishList" v-show="!isWaitingForPlayer"> <!-- User info -->
      <div class="catListAndClock">
        <catlist> </catlist>
        <div class="clock pure-g">
          <div class="clock-img  pure-u-1 pure-u-md-1-2">
            <img class="pure-img" src="../assets/clock.png" alt="">
          </div>


          <div class="watchInfo pure-u-1 pure-u-md-1-2">
            <h1 id="gameTimer" style="color: black; font-family: Impact, Charcoal, sans-serif">360</h1>
            <span style="color: black; font-family: Impact, Charcoal, sans-serif">seconds</span>
            <span style="color: black; font-family: Impact, Charcoal, sans-serif">left for business</span>
          </div>
        </div>

      </div>

      <fishlist> </fishlist>
    </div>
    <div class="proposalHistoryBox" v-show="!isWaitingForPlayer">

      <proposalhistory></proposalhistory>
    </div>

  </div>
</template>
<script>
//import
import Vue from 'vue'
// import firebase from '../config/firebase'
import VueChatScroll from 'vue-chat-scroll'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import WaitingScreen from './WaitingScreen.vue'
import CatList from './CatList.vue'
import FishList from './FishList.vue'
import ProposalHistory from './ProposalHistory.vue'
import GamesServices from '../services/GamesServices'
//Constants
// const database = firebase.firestore(); //store data in firestore
//global variables
var gameBar //loading bar for game timer
var gameTimer
var unsub = () => {}
Vue.use(VueChatScroll)

export default {
  name: 'GameRoom',
  props: ['uid', 'gameid', 'weight', 'time'],
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      userName: '',
      currentTaskName: '',
      minStamina: 999,
      isWaitingForPlayer: true,
      gameStartTime: '',
      totalNumPlayer: 0,
      roomid: 'default'
    }
  },

  components: {
    RangeSlider,
    "waitingscreen": WaitingScreen,
    "catlist": CatList,
    "fishlist": FishList,
    "proposalhistory": ProposalHistory
  },

  watch: {
    totalWeight() {
      if (this.totalWeight < this.minThreshold && !this.isWaitingForPlayer) {
        this.toEndGame()
      }
    },
    isEndGame() {
      if (this.isEndGame) {
        clearTimeout(gameTimer)
        this.toEndGame()
      }
    }

  },

  computed: {
    userList() {
      return this.$store.state.userList
    },
    numPlayerWaitingFor () {
      return this.totalNumPlayer - this.userList.length
    },
    isEndGame() {
      return this.$store.state.isEndGame
    },
    userScore() {
      return this.$store.state.userScore
    },
    totalWeight() {
      return this.$store.state.totalWeight
    },
    minThreshold() {
      return this.$store.state.minThreshold
    },
    status() {
      return this.$store.state.status
    }

  },

  methods: {
    startGameBar () {
      var elem = document.getElementById("gameTimer");
      var currentTime = Number(new Date().getTime());
      var timeCreated = Number(this.gameStartTime);
      var width = 360 - Math.round(((currentTime - timeCreated)/1000));
      clearInterval(gameBar)
      gameBar = setInterval(frame, 1000); //increase timer bar every 1 second
      function frame() {
        if (width > 0) { //5 minutes
          currentTime = Number(new Date().getTime());
          width = 360 - Math.round(((currentTime - timeCreated)/1000));
          // elem.style.width = (width/3) + '%';
          elem.innerHTML = width * 1;
        }
      }
    },
    toEndGame () {
      clearTimeout(gameTimer)
      this.$router.push(`/gameEnd/${this.userScore}/${this.uid}`)
    },


  },
  created() {
    // initialize game
    this.$store.commit('storeGameInfo', {gameId: this.gameid, uid: this.uid})
    this.$store.commit('initGame')
  },
  mounted() {
    try {
      //set listner on the status of the assigned game
      var gameRef = this.$store.state.db.collection('games').doc(this.gameid)
      unsub = gameRef.onSnapshot((doc) => {
        if (doc.exists) {
          if (doc.data().status === 'waiting') {
            this.isWaitingForPlayer = true;
          } else {
            this.isWaitingForPlayer = false;
            this.gameStartTime = doc.data().timeStart;
            //set time for game to end
            this.startGameBar()
            clearTimeout(gameTimer)
            gameTimer = setTimeout(() => {
              this.$store.commit('writeScore', 0)
              this.toEndGame()
            }, 360000 + Number(this.gameStartTime) - Number(new Date().getTime())) //5 minutes
          }
        } else {
          console.log('game do not exists')
        }
      })
    } catch (err) {
      console.log('error gettting game info: ', err)
    }

    //get profitList for the game
    var gameInfoRef = this.$store.state.db.collection('games').doc(this.gameid)
    gameInfoRef.get().then((doc) => {
      if (doc.exists) {
        var weights = doc.data().weights

        this.totalNumPlayer = weights.length

      } else {
        console.log('game info not exist')
      }
    }).catch ((err) => {
      console.log('error gettting game info: ', err)
    })
  },
  beforeDestroy () {
    unsub()
    clearTimeout(gameTimer)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";
/* end  new Ui */

.waitingScreen {
  display: flex;
  weight: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.messageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  height:100px;
}

.watingMessage {
  font-size: 19px;
  color: #22b573;
  font-family: "Comic Sans MS", cursive, sans-serif;
}



</style>
