<template>
<div class="container">
  <!-- <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="">Collab</a>

          <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
              <li class="pure-menu-item"><a href="#" class="pure-menu-link">TTG</a></li>
          </ul>
      </div>
  </div> -->
  <div class="splash-container">
      <div class="splash">
          <h1 class="splash-head">Collection of Collaborative Games</h1>
          <p class="splash-subhead">
          </p>
      </div>
  </div>

  <div class="content-wrapper">
      <div class="content">

          <div class="pure-g">
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <img class="pure-img" src="../assets/gameLogo.png">
                  <h3 class="content-subhead">

                      Threshold task games
                  </h3>
                  <p>Brief
                  </p>
                  <p>
                      <a class="pure-button pure-button-primary" @click="toTTG">Start</a>
                  </p>
              </div>
              <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <img class="pure-img" src="../assets/logo.png">
                  <h3 class="content-subhead">

                      Some other game
                  </h3>
                  <p>Brief
                  </p>
                  <p>
                      <a class="pure-button pure-button-primary">Start</a>
                  </p>
              </div>
          </div>
      </div>
    </div>
</div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    toTTG () {
      this.$router.push(`/`)
    },
  }
}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
</style>
