<template>
  <div class="container">
    <!-- <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Collab</a>

    <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-selected"><a href="" class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item"><a href="" class="pure-menu-link">About</a></li>
  </ul>
</div>
</div> -->
<img class="pure-img" style="margin-top:5em" src="../assets/gameLogo.png" alt="">
<div>
  <div class="loaderSection">
    <span class="loader"></span>
  </div>
  <span class="notification">{{ message }}</span>
  <div class="space">
  </div>
  <div class="info">
    <h2 class="center-head is-center">Your User ID is:</h2>
    <p>{{ uid }}</p>
  </div>
  <div class="before">
    <h2 class="center-head is-center">Before you start</h2>
    <p>You need to pass the quiz in order to play.</p>
    <div class="guide">
      <button class="pure-button pure-button-primary" @click="toTutorial">How to play</button>
      <button class="pure-button pure-button-primary" @click="toQuiz">Quiz</button>
    </div>
  </div>

  <div class="userButton" v-show="isLoggedIn">
    <span class="pure-button pure-button-primary" @click="toGameRoom">Play</span>
    <span class="pure-button pure-button-primary" @click="toFeedback">Feedback</span>
    <span class="pure-button pure-button-primary" @click="signOut">Log out</span>
  </div>
  <div class="userButton" v-show="!isLoggedIn">
    <span class="pure-button pure-button-primary" @click="toGameStart">Back</span>
  </div>
</div>

</div>
</template>

<script>
import firebase from '../config/firebase'
import GamesServices from '../services/GamesServices'

export default {
  name: 'Landing',
  data () {
    return {
      uid: '',
      gameid: '',
      weight: '',
      consented: false,
      roomid: 'default'
    }
  },

  computed: {
    isLoggedIn() {
      return this.uid !== ''
    },
    message() {
      if (this.uid !== '') {
        return 'Welcome!'
      } else {
        return 'You are not logged in!'
      }
    }

  },

  methods: {
    toGameStart () {
      this.$router.push(`/`)
    },
    toTutorial () {
      this.$router.push(`/tutorial`)
    },
    toQuiz () {
      this.$router.push(`/quiz`)
    },
    toFeedback () {
      this.$router.push(`/feedback`)
    },

    toGameRoom () {
      if (!this.$store.state.consented) {
        this.$router.push(`/term`)
      } else if (!this.$store.state.doneQuiz) {
        this.$router.push(`/quiz`)
      } else {
        document.getElementsByClassName('loaderSection')[0].style.visibility = 'visible';
        GamesServices.fetchGame(this.uid, this.roomid).then(
          (response) => {
            this.gameid = response.data.gameid
            this.weight = response.data.weight
            this.time = response.data.time
            this.$router.push(`/gameRoom/${this.uid}/${this.roomid}/${this.gameid}/${this.weight}/${this.time}`)
          }
        )
      }

    },
    signOut () {
      firebase.auth().signOut().then(() => {
        this.$router.push(`/`)
      })

    }
  },

  created () {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        this.uid = user.uid
        this.$store.state.db.collection('users').doc(this.uid).get().then((doc) => {
          if (doc.exists) {
            if (doc.data().consent) {
              this.$store.commit('updateConsent', true)
            }
            if (doc.data().doneQuiz) {
              this.$store.commit('updateQuiz', true)
            }
          }
        })

      } else {
        // No user is signed in.
        console.log("No user")
      }
    });
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";

.space {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.guide {
  text-align: center;
  margin: 3px;
}

</style>
