<template>
  <div class="proposalHistoryBox">
    <div id="noti">New proposal from {{ proposalSender}}.</div>

    <div class="historyBox">
      <div class="historyBoxPendingProposal">
        <span style="color: white" v-show="!showPendingProposal">There is no pending proposal. Let's do business!</span>

        <div class="totalShare" v-show="showPendingProposal">
          <span style="color: white; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
          <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTaskName }}</span>
        </div>

        <div class="listOfEachShare pure-g" v-show="showPendingProposal">
          <div class="eachShare pure-u-1-3 pure-u-md-1-5"
          v-for="(pendingTarget, index) in pendingProposal"
          :key="index"
          >
          <img v-if="pendingTarget.name === 'Red Cat'" src="../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
          <span style="color: #CCCCCC; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTarget.share }}</span>
          <span class="responseStatus" width="40%" height="70%">
            <i class="far fa-question-circle" v-show="pendingTarget.response==='None'" color=grey></i>
            <i class="far fa-check-circle" v-show="pendingTarget.response==='Yes'" color=green></i>
            <i class="far fa-times-circle" v-show="pendingTarget.response==='No'" color=red></i>
          </span>
        </div>
      </div>

      <div class="selectionButton" v-show="showPendingProposal">
        <span v-show="canMakeDecision && !hasDecided" class="yesButton" @click="acceptProposal()"></span>
        <span v-show="canMakeDecision && !hasDecided" class="noButton" @click="rejectProposal(userName)"></span>
        <span v-show="!canMakeDecision" style="font-size: 1vw;">You cannot make decision</span>
        <span v-show="hasDecided" style="font-size: 1vw;">You have decided!</span>
      </div>
    </div>
    <div class="pendingProposalTimer" v-show="showPendingProposal">
      <span class="clockIcon"><i class="far fa-clock"></i></span>
      <span class="timer">
        <span id="proposalProgress">
          <span id="proposalBar"></span>
        </span>
      </span>
    </div>
    <div class="historyBoxName">
      <span style="color: white">Proposal History</span>
    </div>
    <div class="historyBoxHistory" v-chat-scroll>
      <span style="color: #808080" v-show="!isThereAnyHistory">Empty History</span>
      <div
      v-for="(proposal, index) in proposalHistory"
      :key="index"
      v-if="showProposalHistory"
      class="proposalHistoryItem"
      >
      <div class="totalShare">
        <span style="color: #CCCCCC; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
        <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{proposal.taskName}}</span>
      </div>

      <div class="listOfEachShare pure-g">
        <div class="eachShare pure-u-1-3 pure-u-md-1-5"
        v-for="(target, index) in proposal.history"
        :key="index"
        >
        <img v-if="target.name === 'Red Cat'" src="../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
        <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ target.share }}</span>
        <span class="responseStatus" width="40%" height="70%">
          <i class="far fa-question-circle" v-show="target.response==='None'" color=black></i>
          <i class="far fa-check-circle" v-show="target.response==='Yes'" color=black></i>
          <i class="far fa-times-circle" v-show="target.response==='No'" color=black></i>
        </span>
      </div>
    </div>

    <div class="selectionResult">
      <span style="color: #CCCCCC; font-size: 1vw;">{{ proposal.result }}</span>
    </div>
  </div>

</div>

</div>
<div class="currentProposalLabelBox">
  <div>
    <span class="pure-button pure-button-primary" @click="toLanding">Main Page</span>
  </div>

</div>
</div>
</template>
<script>
import Vue from 'vue'
import VueChatScroll from 'vue-chat-scroll'
import GamesServices from '../services/GamesServices'
var proposalBar;
var proposalTimer;
var unsub_1 = () => {}
var unsub_2 = () => {}
var intervalCheckProposal;
Vue.use(VueChatScroll)
export default{
  props:[],
  data() {
    return {
      pendingTaskName: '',
      showProposalHistory: true,
      isEndGame: false
    }
  },
  watch: {
    isInPlay() {
      if(!this.isInPlay) {
        this.writeSuccessfulProposal()
        clearInterval(intervalCheckProposal)
        this.$store.commit('toEndGame', true)
      }

    },
    proposalTimerStart () {
      if (this.proposalTimerStart) {
        this.setTimeToDeleteProposal()
      }
    },
    showPendingProposal () {
      if (this.showPendingProposal) {
        //start the propose bar
        this.startProposalBar()
      } else {
        //stop the propose bar
        clearInterval(proposalBar)
      }
    },
    pendingProposal () {
      if (this.pendingProposal.length > 0) {

        // this.isEndGame = true
        var isProposed = false
        var numberResponses = 0
        this.pendingProposal.forEach(userInfo => {
          if (userInfo.response !== 'None') {
            numberResponses += 1
          }
          if (userInfo.uid === this.uid) {
            this.$store.commit('writeScore', userInfo.share)
            isProposed = true
          }
        })
        if (isProposed && this.userName !== this.proposalSender && numberResponses == 1) {
          var x = document.getElementById("noti");
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
        }
      } else if (!this.isInPlay) {
        clearTimeout(proposalTimer)
        clearInterval(intervalCheckProposal)
        this.$store.commit('toEndGame', true)
      } else {
        clearTimeout(proposalTimer)
      }
    }
  },
  computed: {
    gameId() {
      return this.$store.state.gameId
    },
    uid() {
      return this.$store.state.uid
    },
    userName() {
      return this.$store.state.userName
    },
    userList() {
      return this.$store.state.userList
    },
    isInPlay() {
      return this.$store.state.status === 'inPlay'
    },
    proposalHistory() {
      return this.$store.state.proposalHistory
    },
    showPendingProposal() {
      return this.$store.state.pendingProposal.length > 0
      // return false
    },
    pendingProposal() {
      return this.$store.state.pendingProposal
    },
    isThereAnyHistory() {
      return this.proposalHistory.length > 0
    },
    canMakeDecision () {
      var ans = false
      this.pendingProposal.forEach(userInfo => {
        if (userInfo.uid === this.uid) {
          ans = true
        }
      })
      return ans
    },
    hasDecided () {
      var ans = false
      this.pendingProposal.forEach(userInfo => {
        if (userInfo.uid === this.uid && userInfo.response!=='None') {
          ans = true
        }
      })
      return ans
    },
    proposalTimerStart() {
      return this.$store.state.proposalTimerStart
    },
    proposalSender() {
      return this.$store.state.proposalSender
    }

  },

  methods: {
    toLanding() {
      this.$router.push(`/hello`)
    },
    setTimeToDeleteProposal () {
      proposalTimer = setTimeout(() => {
        // send signal to server
        GamesServices.checkProposal(this.gameId)
        .catch((err) => {
          console.log("Error while sending signal to server")
        })
      }, 60000) //30 seconds
    },
    startProposalBar () {
      var elem = document.getElementById("proposalBar");
      var currentTime = Number(new Date().getTime())
      var timeCreated = Number(this.pendingProposal[0].timeCreated);
      var width = 60 - Math.round(((currentTime - timeCreated)/1000));
      clearInterval(proposalBar)
      proposalBar = setInterval(frame, 1000); //increase timer bar every 1 second
      function frame() {
        if (width > 0) { //30 seconds
          currentTime = Number(new Date().getTime());
          width = 60 - Math.round(((currentTime - timeCreated)/1000));
          elem.style.width = ((width*10)/6) + '%';
          // elem.innerHTML = width * 1;
        }
      }
    },
    // writeSuccessfulProposal () {
    //   // send signal to server
    // },

    rejectProposal () {
      var batch = this.$store.state.db.batch()
      batch.update(
        this.$store.state.db.collection('games').doc(this.gameId).collection('pendingPropose').doc(this.uid),
        {
          response: 'No'
        }
      )
      batch.commit().then(() => {
        GamesServices.checkProposal(this.gameId)
        .catch((err) => {
          console.log("Error while sending signal to server")
        })
      })
      .catch ((err) => {
        console.log('Error rejecting propose: ', err.code)
      })
    },

    acceptProposal () {
      var batch = this.$store.state.db.batch()
      batch.update(
        this.$store.state.db.collection('games').doc(this.gameId).collection('pendingPropose').doc(this.uid),
        {
          response: 'Yes'
        }
      )
      batch.commit().then(() => {
        // send signal to server
        GamesServices.checkProposal(this.gameId)
        .catch((err) => {
          console.log("Error while sending signal to server")
        })
      })
      .catch ((err) => {
        console.log('Error accepting propose: ', err.code)
      })
    },
  },
  created () {
    var proposalHistoryRef = this.$store.state.db.collection('games').doc(this.gameId).collection('proposeHistory')
    unsub_1 = proposalHistoryRef.onSnapshot((querySnapshot) => {
      var proposalHistory = querySnapshot.docs.map(doc => ({
        history: doc.data().history,
        taskName: doc.data().taskName,
        result: doc.data().result
      }))
      this.$store.commit('storeProposalHistory', proposalHistory)
    })

    //get current pending propose
    var pendingProposalRef = this.$store.state.db.collection('games').doc(this.gameId).collection('pendingPropose')
    unsub_2 = pendingProposalRef.onSnapshot((querySnapshot) => {
      var pendingProposal = querySnapshot.docs.map(doc => ({
        name: doc.data().name,
        uid: doc.data().uid,
        share: doc.data().share,
        response: doc.data().response,
        taskName: doc.data().taskName,
        timeCreated: doc.data().timeCreated,
        sender: doc.data().sender
      }))
      try {
        this.$store.commit('storePendingProposal', pendingProposal)
        if (pendingProposal.length > 0) {
          this.pendingTaskName = pendingProposal[0].taskName

          this.$store.commit('startProposalTimer', true);
        } else {
          this.$store.commit('startProposalTimer', false);
        }

      } catch (error) {
        console.log('Error retrieving pending proposal: ', error.code)
      }
    })
    clearInterval(intervalCheckProposal)
    intervalCheckProposal = setInterval(() => {
      GamesServices.checkProposal(this.gameId)
      .catch((err) => {
        console.log("Error while sending signal to server")
      })
    }, 60000); //increase timer bar every 1 second

  },
  beforeDestroy() {
    unsub_1()
    unsub_2()
    clearInterval(intervalCheckProposal)
  }

}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";


.pendingProposalTimer {
  width: 95%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


#noti {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#noti.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
</style>
