<template>
  <div class="quiz">
    <h1>Quiz</h1>
    <div class="scrshot">

      <div class="catListAndFishList">

        <div class="catListAndClock">
          <div class="catList">
            <div class="catYou">
              <img class="catIcon" v-if="userName === 'Red Cat'" src="../assets/catRed.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar"/>
              <div class="catInfo">
                <div class="catName" style="color: white; font-size: 1vw">{{ userName }} (You)</div>
                <div class="catClimbInfo">
                  <span style="color: black; font-size: 1vw">Ladder Height</span>
                  <span class="ladderIcon"></span>
                  <span style="color: white; font-size: 2vw">{{ userStamina }}</span>
                </div>
              </div>
            </div>
            <div class="catOther"
            v-for="(user, index) in userList"
            :key="index"
            v-if="user.name!==userName">
            <img class="catIcon" v-if="user.name === 'Red Cat'" src="../assets/catRed.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Blue Cat'" src="../assets/catBlue.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Brown Cat'" src="../assets/catBrown.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Yellow Cat'" src="../assets/catYellow.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Green Cat'" src="../assets/catGreen.png" alt="Avatar"/>
            <div class="catInfo">
              <div class="catName" style="color: white; font-size: 1vw">{{ user.name }}</div>
              <div class="catClimbInfo">
                <span style="color: black; font-size: 1vw">Ladder Height</span>
                <span class="ladderIcon"></span>
                <span style="color: white; font-size: 1.5vw">{{ user.stamina }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="fishList">
        <div class="allFish pure-g">
          <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
          v-for="(profit, index) in profitList"
          :key="index">
          <div>
            <fish1 v-bind:profit='profit' v-if='index==0'> </fish1>
            <fish2 v-bind:profit='profit' v-if='index==1'> </fish2>
            <fish3 v-bind:profit='profit' v-if='index==2'> </fish3>
            <fish4 v-bind:profit='profit' v-if='index==3'> </fish4>
          </div>


        </div>
        </div>
      </div>

    </div>
  </div>
    <div class="question question-1">
      <h2>Question 1</h2>
      <div class="q-content">
        <p>In order for a proposal to be accepted, who needs to approve it?</p>
      </div>
      <div class="options">
        <br><input type="radio" v-model="answers[0]" :value="1"/> <label>At least one other player who was proposed to.</label>
        <br><input type="radio" v-model="answers[0]" :value="2"/> <label>All players (including those who were not proposed to).</label>
        <br><input type="radio" v-model="answers[0]" :value="3"/> <label>All of the players who were proposed to.</label>
        <br><input type="radio" v-model="answers[0]" :value="4"/> <label>Proposals are automatically approved.</label>

      </div>
    </div>


    <div class="question question-2">
      <h2>Question 2</h2>
      <div class="q-content">
        <p>Which of the following fish can the Red Cat and the Brown Cat reach?</p>
      </div>
      <div class="options">
        <div class="fishList">
          <div class="allFish pure-g">
            <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
            v-for="(profit, index) in profitList"
            :key="index">
            <div>
              <fish1 v-bind:profit='profit' v-if='index==0'> </fish1>
              <fish2 v-bind:profit='profit' v-if='index==1'> </fish2>
              <fish3 v-bind:profit='profit' v-if='index==2'> </fish3>
              <fish4 v-bind:profit='profit' v-if='index==3'> </fish4>
            </div>
            <div>
              <input type="radio" v-model="answers[1]" :value="index+1">
            </div>

          </div>
        </div>
        </div>

    </div>
    </div>

    <div class="question question-3">
      <h2>Question 3</h2>
      <div class="q-content">
        <p>What is wrong with the following proposal from the Red Cat?</p>
        <div class="fishPicked pure-g">
          <div class="fishSection pure-u-1 pure-u-md-1-2">

            <popper :forceShow="true" :options="{placement: 'right', positionFixed: true}">
              <div class="popper">
                <div
                v-for="(proposeTarget, index) in proposal3"
                :key="index"
                >
                <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../assets/RedCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../assets/BlueCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../assets/BrownCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../assets/GreenCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../assets/YellowCat.png" ></span>
                  <span class="pure-u-6-8"><range-slider
                    class="slider"
                    min="0"
                    :max= "profitList[2].value"
                    step="1"
                    :value="proposeTarget.share" :disabled="true">
                  </range-slider></span>
                  <span class="pure-u-1-8">{{ proposeTarget.share }}</span>

                  </div>
                </div>
              </div>
              <div slot="reference" class="ladder">
                <fish3 v-bind:profit='profitList[2]'> </fish3>
              </div>

            </popper>
          </div>
        </div>
      </div>
      <div class="options">
        <br><input type="radio" v-model="answers[2]" :value="1"/> <label>The proposer has given themselves a share of 0.</label>
        <br><input type="radio" v-model="answers[2]" :value="2"/> <label>The combined ladder height is insufficient to reach the reward.</label>
        <br><input type="radio" v-model="answers[2]" :value="3"/> <label>The total shares are not exactly the reward.</label>
        <br><input type="radio" v-model="answers[2]" :value="4"/> <label>Nothing, this is a valid proposal.</label>

      </div>
    </div>


    <div class="question question-4">
      <h2>Question 4</h2>
      <div class="q-content">
        <p>What is wrong with the following proposal from the Red Cat?</p>
        <div class="fishPicked pure-g">
          <div class="fishSection pure-u-1 pure-u-md-1-2">

            <popper :forceShow="true" :options="{placement: 'right', positionFixed: true}">
              <div class="popper">
                <div
                v-for="(proposeTarget, index) in proposal4"
                :key="index"
                >
                <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../assets/RedCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../assets/BlueCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../assets/BrownCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../assets/GreenCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../assets/YellowCat.png" ></span>
                  <span class="pure-u-6-8"><range-slider
                    class="slider"
                    min="0"
                    :max= "profitList[2].value"
                    step="1"
                    :value="proposeTarget.share" :disabled="true">
                  </range-slider></span>
                  <span class="pure-u-1-8">{{ proposeTarget.share }}</span>

                  </div>
                </div>
              </div>
              <div slot="reference" class="ladder">
                <fish3 v-bind:profit='profitList[2]'> </fish3>
              </div>

            </popper>
          </div>
        </div>
      </div>
      <div class="options">
        <br><input type="radio" v-model="answers[3]" :value="1"/> <label>The proposer has given themselves a share of 0.</label>
        <br><input type="radio" v-model="answers[3]" :value="2"/> <label>The combined ladder height is insufficient to reach the reward.</label>
        <br><input type="radio" v-model="answers[3]" :value="3"/> <label>The total shares are not exactly the reward.</label>
        <br><input type="radio" v-model="answers[3]" :value="4"/> <label>Nothing, this is a valid proposal.</label>

      </div>
    </div>


    <div class="question question-5">
      <h2>Question 5</h2>
      <div class="q-content">
        <p>What is wrong with the following proposal from the Red Cat?</p>
        <div class="fishPicked pure-g">
          <div class="fishSection pure-u-1 pure-u-md-1-2">

            <popper :forceShow="true" :options="{placement: 'right', positionFixed: true}">
              <div class="popper">
                <div
                v-for="(proposeTarget, index) in proposal5"
                :key="index"
                >
                <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../assets/RedCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../assets/BlueCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../assets/BrownCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../assets/GreenCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../assets/YellowCat.png" ></span>
                  <span class="pure-u-6-8"><range-slider
                    class="slider"
                    min="0"
                    :max= "profitList[2].value"
                    step="1"
                    :value="proposeTarget.share" :disabled="true">
                  </range-slider></span>
                  <span class="pure-u-1-8">{{ proposeTarget.share }}</span>

                  </div>
                </div>
              </div>
              <div slot="reference" class="ladder">
                <fish3 v-bind:profit='profitList[2]'> </fish3>
              </div>

            </popper>
          </div>
        </div>
      </div>
      <div class="options">
        <br><input type="radio" v-model="answers[4]" :value="1"/> <label>The proposer has given themselves a share of 0.</label>
        <br><input type="radio" v-model="answers[4]" :value="2"/> <label>The combined ladder height is insufficient to reach the reward.</label>
        <br><input type="radio" v-model="answers[4]" :value="3"/> <label>The total shares are not exactly the reward.</label>
        <br><input type="radio" v-model="answers[4]" :value="4"/> <label>Nothing, this is a valid proposal.</label>

      </div>
    </div>

    <!-- <div class="question question-6">
      <h2>Question 6</h2>
      <div class="q-content">
        <p>How much will the yellow cat receive under the current proposal?</p>
        <div class="fishPicked pure-g">
          <div class="fishSection pure-u-1 pure-u-md-1-2">

            <popper :forceShow="true" :options="{placement: 'right', positionFixed: true}">
              <div class="popper">
                <div
                v-for="(proposeTarget, index) in proposal6"
                :key="index"
                >
                <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../assets/RedCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../assets/BlueCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../assets/BrownCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../assets/GreenCat.png" ></span>
                  <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../assets/YellowCat.png" ></span>
                  <span class="pure-u-6-8"><range-slider
                    class="slider"
                    min="0"
                    :max= "profitList[2].value"
                    step="1"
                    v-model="proposeTarget.share">
                  </range-slider></span>
                  <span class="pure-u-1-8">{{ proposeTarget.share }}</span>

                  </div>
                </div>
              </div>
              <div slot="reference" class="ladder">
                <fish3 v-bind:profit='profitList[2]'> </fish3>
              </div>

            </popper>
          </div>
        </div>
      </div>
      <div class="options">
        <br><input type="radio" v-model="answers[5]" :value="1"/> <label>2.</label>
        <br><input type="radio" v-model="answers[5]" :value="2"/> <label>4.</label>
        <br><input type="radio" v-model="answers[5]" :value="3"/> <label>6.</label>
        <br><input type="radio" v-model="answers[5]" :value="4"/> <label>8.</label>

      </div>
    </div> -->


    <div class="next check">
      <div class="message">
        <div>
          {{ message }}
        </div>
      </div>
      <button class="pure-button pure-button-primary" @click="check">Check answers</button>

    </div>
    <div class="next" v-if="isLoggedIn">
      <button :disabled="!next" class="pure-button pure-button-primary" @click="toLanding">Start playing</button>

    </div>
    <div class="next" v-if="!isLoggedIn">
      <button :disabled="!next" class="pure-button pure-button-primary" @click="toGameStart">Start playing</button>

    </div>
</div>
</template>

<script>
import firebase from '../config/firebase'
import VueChatScroll from 'vue-chat-scroll'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from './fish/FishOne.vue'
import FishTwo from './fish/FishTwo.vue'
import FishThree from './fish/FishThree.vue'
import FishFour from './fish/FishFour.vue'
import Popper from './Popper'
export default {
  name: 'Quiz',
  data () {
    return {
      uid: '',
      next: false,
      message: "",
      userName: "Red Cat",
      userStamina: 15,
      userList: [
        {name: "Blue Cat", stamina: 10},
        {name: "Brown Cat", stamina: 5},
        {name: "Green Cat", stamina: 8},
        {name: "Yellow Cat", stamina: 20}
      ],
      profitList: [
        {rank: 0, stamina: 20, value: 10, name: 20},
        {rank: 1, stamina: 35, value: 13, name: 35},
        {rank: 2, stamina: 40, value: 20, name: 40},
        {rank: 3, stamina: 45, value: 25, name: 35}
      ],
      proposal3: [
        {name: "Red Cat", stamina: 15, status: 'inPlay', share: 8},
        {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 0},
        {name: "Brown Cat", stamina: 5, status: 'inPlay', share: 4},
        {name: "Green Cat", stamina: 8, status: 'inPlay', share: 0},
        {name: "Yellow Cat", stamina: 20, status: 'inPlay', share: 8}
      ],
      proposal4: [
        {name: "Red Cat", stamina: 15, status: 'inPlay', share: 0},
        {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 8},
        {name: "Brown Cat", stamina: 5, status: 'inPlay', share: 4},
        {name: "Green Cat", stamina: 8, status: 'inPlay', share: 0},
        {name: "Yellow Cat", stamina: 20, status: 'inPlay', share: 8}
      ],
      proposal5: [
        {name: "Red Cat", stamina: 15, status: 'inPlay', share: 8},
        {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 2},
        {name: "Brown Cat", stamina: 5, status: 'inPlay', share: 4},
        {name: "Green Cat", stamina: 8, status: 'inPlay', share: 0},
        {name: "Yellow Cat", stamina: 20, status: 'inPlay', share: 8}
      ],
      // proposal6: [
      //   {name: "Red Cat", stamina: 15, status: 'inPlay', share: 6},
      //   {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 2},
      //   {name: "Brown Cat", stamina: 5, status: 'inPlay', share: 4},
      //   {name: "Green Cat", stamina: 8, status: 'inPlay', share: 0},
      //   {name: "Yellow Cat", stamina: 20, status: 'inPlay', share: 8}
      // ],
      answers: [-1,-1,-1,-1,-1
        // ,-1
      ],
      qAnswers: [3,1,4,1,3
        // ,4
      ]

    }
  },
  computed: {
    isLoggedIn() {
      return this.uid !== ''
    },
    correctAnswers() {
      var res = 0
      for (var i = 0; i < this.answers.length; i++) {
        if (this.answers[i] == this.qAnswers[i]) {
          res += 1;
        }
      }
      return res
    }
  },
  components: {
    RangeSlider,
    "fish1" : FishOne,
    "fish2" : FishTwo,
    "fish3" : FishThree,
    "fish4" : FishFour,
    "popper" : Popper,
  },
  methods: {
    check() {
      this.next = this.correctAnswers == this.answers.length;
      if (!this.next) {
        if (this.correctAnswers <= 1) {
          this.message = this.correctAnswers + " correct answer. You must pass every question to continue."
        }
        else {
          this.message = this.correctAnswers + " correct answers. You must pass every question to continue."
        }

      }
      else {
        this.message = "Excellent! You can start playing now."
      }

    },
    toLanding() {
      this.$store.state.db.collection('users').doc(this.uid).get().then((user) => {
        if (user.exists) {
          this.$store.state.db.collection('users').doc(this.uid).update({
            doneQuiz: true
          }).then(() => {
            this.$store.commit('updateQuiz', true)
            this.$router.push('/hello')
          })
        } else {
          this.$store.state.db.collection('users').doc(this.uid).set({
            doneQuiz: true,
            gameId: '',
            weight: 0
          }).then(() => {
            this.$store.commit('updateQuiz', true)
            this.$router.push('/hello')
          })
        }
      })


    },
    toGameStart() {
      this.$router.push(`/`)
    }
  },
  created () {
    firebase.auth().onAuthStateChanged((user)  => {
      if (user) {
        // User is signed in.
        this.uid = user.uid
      } else {
        // No user is signed in.
        console.log("No user")
      }
    });
  },

}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";
/* start new Ui */
.quiz-id {
  font-size: 3vmax;
  text-align: left;
}

.fishPicked {
  width: 30%;
  justify-content: center;
}

.popper {
  height: 200px;
  width: 200px;
}
/* end  new Ui */
.quiz {
  padding: 3%;
}
.question {
  text-align: left;
}
.check {
  margin: 5px;
}
</style>
