<template>
  <div class="container">

    <!-- <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Collab</a>

        <ul class="pure-menu-list">
          <li class="pure-menu-item pure-menu-selected"><a href="" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="/#/about" class="pure-menu-link">About</a></li>
        </ul>
      </div>
    </div> -->
    <div class="splash-container">
      <div class="splash">
        <!-- <h1 class="splash-head">Collection of Collaborative Games</h1>
        <p class="splash-subhead">
        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. -->
      <!-- </p> -->
      <img class="pure-img" src="../assets/gameLogo.png">
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <div class="description">
        <p>This is a collaborative game involving multiple players (cats).
          Some rewards (fish) are located at the top of the shelves, which players want to get.
          Each player possesses a ladder that can climbs a certain height and needs to cooperate with other players to climb to the top of a shelf.
          Players have to decide whom they want to cooperate, which fish to get and how to partition the fish.
        </p>
        <div class="guide">
          <button class="pure-button pure-button-primary" @click="toTutorial">How to play</button>
        </div>
      </div>
      <div class="form">
        <h2 class="content-head is-center">Sign up</h2>
        <div class="loaderSection">
          <span class="loader"></span>
        </div>
        <span class="notification">{{ message }}</span>

        <div class="userInput">
          <input id='email-input' class="customInputBox" type="email" placeholder="Email" v-model="pendingEmail">
          <input class="customInputBox" type="password" placeholder="Password" v-model="pendingPassword">

        </div>

        <div class="userButton">
          <div class="pure-button pure-button-primary sign-up" @click="signUpUser">Sign Up</div>
          <div class="no-account"><a href="">Back to Login</a></div>
        </div>
      </div>

    </div>

  </div>


</div>
</template>

<script>
import firebase from '../config/firebase'
import GamesServices from '../services/GamesServices'

export default {
  name: 'SignUp',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      pendingEmail: '',
      pendingPassword: '',
      uid: '',
      gameid: '',
      weight: '',
      message: '',
    }
  },

  methods: {
    toGameRoom () {
      this.$router.push(`/hello`)
    },
    toTutorial () {
      this.$router.push(`/tutorial`)
    },
    toMain () {
      this.$router.push(`/`)
    },
    toSign () {
      document.getElementsByClassName('sign-in')[0].style.display = 'none';
      document.getElementsByClassName('no-account')[0].style.display = 'none';
      document.getElementsByClassName('sign-up')[0].style.display = 'inline-block';
    },
    //user has not existed
    signUpUser () {
      document.getElementsByClassName('loaderSection')[0].style.visibility = 'visible';
      document.getElementsByClassName('notification')[0].style.visibility = 'hidden';

      var _this = this;

      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
      .then(() => {
        firebase.auth().createUserWithEmailAndPassword(_this.pendingEmail, _this.pendingPassword)
        .then((user) => {
          _this.uid = user.user.uid
          _this.toGameRoom();
        })
        .catch((error) => {
          document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden';
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          if (errorCode === 'auth/email-already-in-use') {
            this.message = 'Username already taken';
          } else if (errorCode === 'auth/weak-password') {
            this.message = 'Password should be at least 6 characters';
          } else if (errorCode == 'auth/invalid-email') {
            this.message = 'Invalid email';
          }
          document.getElementsByClassName('notification')[0].style.color = 'red';
          document.getElementsByClassName('notification')[0].style.visibility = 'visible';

        })
      })
      .catch((error) => {
        document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden';
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        if (errorMessage === 'The email address is already in use by another account.') {
          this.message = 'Username already taken';
        } else if (errorMessage === 'Password should be at least 6 characters') {
          this.message = 'Password should be at least 6 characters';
        }
        document.getElementsByClassName('notification')[0].style.color = 'red';
        document.getElementsByClassName('notification')[0].style.visibility = 'visible';

      });


    },
  },

  mounted () {
    try {
      //sign out current user first
      // await firebase.auth().signOut()
      //set user data observer
      firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          this.uid = user.uid
          this.toGameRoom()
        } else {
          console.log('No user currently signed in')
        }
      });
    } catch (err) {
      console.log('Error signing out user: ', err)
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";

input[type="email"] {
  font-size: 19px;
}
input[type="password"] {
  font-size: 19px;
}

.description {
  font-size: 130%;
  width: 80%;
  margin: auto;
  text-align: justify;
}
.no-account {
  text-decoration: underline;
}

.guide {
  text-align: center;
}
</style>
