<template lang="html">
  <div class="term">
    <h2>What is the purpose of this research?</h2>
    <p>You are invited to participate in a research study. Make sure you understand the information below before deciding whether or not to take part.</p>
    <p>The purpose of this research is to check how well can humans work together towards a shared goal, when they have personal interests that might conflict with that goal. We will ask you to play a simple collaborative computer game. You and your collaborators will receive a reward based on your joint performance and bargaining ability.
    </p>
    <h2>Who can participate in the research? What is the expected duration of my participation? What is the duration of this research?</h2>
    <p>You can participate in this study if you are an adult with computer proficiency and knowledge of the English language. The study will take ~30-60 minutes of your time.</p>
    <h2>What is the approximate number of research participants involved?</h2>
    <p>1000.</p>
    <h2>What will be done if I take part in this research study?</h2>
    <p>You will play a few short rounds of a game; you, and fellow research participants, will be asked to complete a series of tasks requiring all of your fellow participants to work together. You will receive a participation bonus based on how well you did in the game. The entire exercise will take no longer than an hour.</p>
    <h2>How will my privacy and the confidentiality of my research records be protected?</h2>
    <p>All data collected will be kept in accordance to the University’s Research Data Management Policy. Research data used in any publication will be kept for a minimum of 10 years before being discarded.</p>
    <h2>What are the possible discomforts and risks for participants?</h2>
    <p>We expect no immediate risks or injury from participation.</p>
    <h2>Will there be reimbursement for participation?</h2>
    <p>You will be paid $1 upon mini-game completion, with an additional performance-based bonus ranging from $0 – $1.</p>
    <h2>What are the possible benefits to me and to others?</h2>
    <p>Monetary benefit aside, there will be no benefit to you from participating in this study. By participating you will be benefiting the public at large, expanding our scientific understanding of strategic collaboration.</p>
    <h2>Can I refuse to participate in this research?</h2>
    <p>Yes, you can. Your decision to participate in this research study is voluntary and completely up to you. You can opt to have data on your performance removed up to (but not including) the point when you have completed the task.</p>
    <h2>Whom should I call if I have any questions or problems?</h2>
    <p>Please contact the Principal Investigator, Yair Zick at zick@comp.nus.edu.sg (Yair) on research-related matters and in the event of research-related injuries.</p>
    <p>For an independent opinion regarding the research and the rights of research participants, you may contact a staff member of the National University of Singapore Institutional Review Board (Attn: Dr Chan Tuck Wai, at telephone (+65) 6516 1234 or email at irb@nus.edu.sg).</p>
    <h2>Consent Form</h2>
    <h3>Protocol title:</h3>
    <p>Analyzing Strategic Collaborative Behavior via Games, Social Interaction and Competition, in both Online and Lab Environments</p>
    <h3>Principal Investigator with the contact number and organization:</h3>
    <p>Yair Zick, National University of Singapore, School of Computing, 66011731</p>
    <h3>By clicking 'Agree' you hereby consent to the above.</h3>
    <p>I hereby acknowledge that:</p>
    <ol>
      <li> I have agreed to take part in the above research.</li>
      <li>I have read this information sheet that explains the use of my data in this research. I understand its contents and agree to donate my data for the use of this research.</li>
      <li>I can withdraw from the research at any point of time by informing the Principal Investigator and all my data will be discarded.</li>
      <li>I will not have any financial benefits that result from the commercial development of this research.</li>
      <li>I consent to have the coded data made available for future research studies. This will be subject to an Institutional Review Board’s approval.</li>
    </ol>
    <button class="pure-button pure-button-primary" @click="agree">Agree</button>
  </div>
</template>

<script>

import firebase from '../config/firebase'
export default {
  name: 'Term',
  data() {
    return {
      uid: ''
    }
  },
  methods: {
    agree () {
      this.$store.state.db.collection('users').doc(this.uid).get().then((user) => {
        if (user.exists) {
          this.$store.state.db.collection('users').doc(this.uid).update({
            consent: true
          }).then(() => {
            this.$store.commit('updateConsent', true)
            this.$router.push('/hello')
          })
        } else {
          this.$store.state.db.collection('users').doc(this.uid).set({
            consent: true,
            gameId: '',
            weight: 0
          }).then(() => {
            this.$store.commit('updateConsent', true)
            this.$router.push('/hello')
          })
        }
      })


    }
  },
  created () {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        this.uid = user.uid
      } else {
        // No user is signed in.
        this.$router.push(`/`)
      }
    });
  },
}
</script>

<style lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";
.term {
  text-align: left;
  padding: 3%;
}
</style>
