<template>
  <div class="container">
    <div class="slides">
      <div class="slide" id="slide-1" v-if="step == 1">
        <slide1></slide1>
      </div>

      <div class="slide" id="slide-2" v-if="step == 2">
        <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
        <slide2></slide2>
      </div>
      <div class="slide" id="slide-3" v-if="step == 3">
        <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
        <slide3></slide3>
      </div>
      <div class="slide" id="slide-4" v-if="step == 4">
        <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
        <slide4></slide4>
      </div>
      <div class="slide" id="slide-5" v-if="step == 5">
        <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
        <slide5></slide5>
      </div>
      <div class="slide" id="slide-6" v-if="step == 6">
        <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
        <slide6></slide6>
      </div>
    </div>
    <div class="buttons">
      <span class="pure-button pure-button-primary" v-show="step > 1" @click="previousStep">Previous</span>
      <span class="pure-button pure-button-primary" v-show="step < 6" @click="nextStep">Next</span>
      <div class="pure-button pure-button-primary" v-show="step >= 6" @click="toQuiz">Quiz</div>
      <div v-if="isLoggedIn && step >= 6">
        <button class="pure-button pure-button-primary" @click="toLanding">Main Page</button>

      </div>
      <div v-if="!isLoggedIn && step >= 6">
        <button class="pure-button pure-button-primary" @click="toGameStart">Main Page</button>

      </div>
    </div>
  </div>
</template>

<script>
import firebase from '../config/firebase'
import Slide1 from './slides/Slide1.vue'
import Slide2 from './slides/Slide2.vue'
import Slide3 from './slides/Slide3.vue'
import Slide4 from './slides/Slide4.vue'
import Slide5 from './slides/Slide5.vue'
import Slide6 from './slides/Slide6.vue'
export default {
  data() {
    return {
      step: 1,
      isLoggedIn: false,
    }
  },
  components: {
    "slide1": Slide1,
    "slide2": Slide2,
    "slide3": Slide3,
    "slide4": Slide4,
    "slide5": Slide5,
    "slide6": Slide6,
  },
  methods: {
    nextStep() {
      this.step += 1
    },
    previousStep() {
      this.step -= 1
    },
    toQuiz() {
      this.$router.push(`/quiz`)
    },
    toLanding() {
      this.$router.push(`/hello`)
    },
    toGameStart() {
      this.$router.push(`/`)
    }
  },
  created () {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        this.isLoggedIn = true
      } else {
        // No user is signed in.
        this.isLoggedIn = false
      }
    });
  },
}
</script>
<style scoped lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
/* Disable blue border focus in all basic form elements */
.container {
  padding: 3%;
}
</style>
