<template>
  <div class="waitingScreen" v-show="isWaiting">

    <div class="loaderSection">
      <span class="loader"></span>
    </div>

    <img src="../assets/LoadingCat.png"
    width="250px"
    alt="Avatar"/>

    <div class="messageSection">
      <span class="watingMessage">
        Waiting for more players to do business. Please be patient!
      </span>
    </div>
    <div class="replay">
      <div class="loaderSection">
        <span class="loader"></span>
      </div>
      <span>Waiting too long?</span>
      <div class="pure-button pure-button-primary sign-up" @click="playAgain">Start another</div>
    </div>


  </div>
</template>
<script>
import GamesServices from '../services/GamesServices'
var gameTimer;
   export default{
       props:['isWaiting', 'uid', 'time', 'roomid'],
       watch: {
         time() {
           clearTimeout(gameTimer)
           document.getElementsByClassName('replay')[0].style.visibility = 'hidden';
           document.getElementsByClassName('loaderSection')[0].style.visibility = 'hidden';
           gameTimer = setTimeout(() => {
             document.getElementsByClassName('replay')[0].style.visibility = 'visible'
           }, 300000 + Number(this.time) - Number(new Date().getTime())) //5 minu
         },
         isWaiting() {
           if(!this.isWaiting) {
             clearTimeout(gameTimer)
           }
         }
       },
       methods: {
         toGameRoom () {
           this.$router.push(`/gameRoom/${this.uid}/${this.roomid}/${this.gameid}/${this.weight}/${this.time}`)
         },
         playAgain () {
           document.getElementsByClassName('loaderSection')[0].style.visibility = 'visible';
           GamesServices.fetchGame(this.uid, this.roomid).then(
             (response) => {
               this.gameid = response.data.gameid
               this.weight = response.data.weight
               this.time = response.data.time
               this.toGameRoom();
             }
           )
         }
       },
       mounted() {
         gameTimer = setTimeout(() => {
           document.getElementsByClassName('replay')[0].style.visibility = 'visible'
         }, 300000 + Number(this.time) - Number(new Date().getTime())) //5 minu
       },
       beforeDestroy() {
         clearTimeout(gameTimer)
       }
   }
</script>
<style lang="scss">
@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";
@import "../css/pure-template.css";
@import "../css/style.css";
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #609; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.loaderSection {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.replay {
  visibility: hidden;
}
</style>
