input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input {
  border: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.slide-content {
  font-size: 3vmax;
  text-align: left;
}
.scrshot {
  border: 1px solid black;
}

.catList {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.catYou {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url("../assets/catBox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 2px;
  padding: 5px;
  transition: all .2s ease-in-out;
}

.catIcon {
  width: 28%;
  height: 66%;
}

.catInfo {
  width: 55%;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
}

.catName {
  color: white;
}

.catClimbInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
}

.ladderIcon {
  width: 20%;
  background-image: url("../assets/ladderIcon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.catOther {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-image: url("../assets/catBox.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 2px;
  padding: 5px;
  transition: all .2s ease-in-out;
}
.catYou:hover {
  transform: scale(1.05);
}
.catOther:hover {
  transform: scale(1.05);
}

.catOtherGrey {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-image: url("../assets/catBoxGrey.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 2px;
  padding: 5px;
  transition: all .2s ease-in-out;
}


.fishList {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.allFish {
  justify-content: center;
}

.fishSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
  padding-bottom: 25px;
  transition: all .2s ease-in-out;
}
.ladder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .2s ease-in-out;
}
.ladder:hover {
  transform: scale(1.05);
}

.proposeBox {
  justify-content: center;
  background-color: #ffffff;
  border-radius: .3em;
  padding: 0.5rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e0e0e0;
}

.proposeBoxElement {
  justify-content: center;
}

.catListAndFishList {
  display: flex;
  width: 100%;
  height: 65%;
  flex-direction: row;
}
.catListAndClock {
  width: 25%;
}

.proposalHistoryBox {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.watchInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#gameProgress {
  width: 90%;
  height: 90%;
  background-color: #ddd;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  border-radius: .3em;
}
#gameBar {
  width: 100%;
  max-weight: 100%;
  max-height: 100%;
  background-color: #4CAF50;
  text-align: center;
  color: white;
  border-radius: .3em;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  /* height: 100%; */
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #d8d8d8;
}
::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.currentProposalLabelBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.currentProposalLabel {
  width: 100%;
  height: 55%;
  background-image: url("../assets/currentProposalLabel.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.proposalHistoryBoxInside {
  display: flex;
  width: 100%;
  /* height: 100%; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.historyBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: lightgray;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.historyBoxName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #333333;
  width: 95%;
  margin: 1%;
}

.historyBoxHistory {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-radius: 15px;
  background: #333333;
  width: 95%;
  height: 50%;
  overflow-y: scroll
}

.proposalHistoryItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #808080;
  width: 99%;
  margin: 0.5%;
}

.historyBoxPendingProposal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #333333;
  width: 95%;
  margin: 0.5%;
}

.totalShare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.listOfEachShare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.eachShare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.selectionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}
.selectionResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.yesButton {
  background-image: url("../assets/yesButton.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 50px;
  margin: 2%;
}

.noButton {
  background-image: url("../assets/noButton.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 50px;
  margin: 2%;
}

.pendingProposalTimer {
  width: 95%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.timer {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#proposalProgress {
  width: 100%;
  height: 70%;
  background-color: #ddd;
  display: flex;
  justify-content: flex-start;
  border-radius: .3em;
}
#proposalBar {
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  text-align: center;
  color: white;
  border-radius: .3em;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #609; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loaderSection {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customInputBox {
  border-radius: 25px;
  border: 2px solid #22b573;
  margin: 5px;
  padding: 20px;
  height: 15px;
}

.customButton {
  background: #ffffff;
  border-radius: 28px;
  border: 2px solid #609;
  font-family: Arial;
  color: #609;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-left: 1px;
  margin-right: 1px;
}

.customButton:hover {
  background: #609;
  color: #ffffff;
  text-decoration: none;
}
