<template>
  <div class="slide-wrapper">
    <div class="slide-content">
      <h1>Game Interface</h1>
    </div>
    <div class="scrshot">

      <div class="catListAndFishList">

        <div class="catListAndClock">
          <div class="catList">
            <div class="catYou">
              <img class="catIcon" v-if="userName === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
              <div class="catInfo">
                <div class="catName" style="color: white; font-size: 1vw">{{ userName }} (You)</div>
                <div class="catClimbInfo">
                  <span style="color: black; font-size: 1vw">Ladder Height</span>
                  <span class="ladderIcon"></span>
                  <span style="color: white; font-size: 2vw">{{ userStamina }}</span>
                </div>
              </div>
            </div>
            <div class="catOther"
            v-for="(user, index) in userList"
            :key="index"
            v-if="user.name!==userName">
            <img class="catIcon" v-if="user.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
            <div class="catInfo">
              <div class="catName" style="color: white; font-size: 1vw">{{ user.name }}</div>
              <div class="catClimbInfo">
                <span style="color: black; font-size: 1vw">Ladder Height</span>
                <span class="ladderIcon"></span>
                <span style="color: white; font-size: 1.5vw">{{ user.stamina }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clock pure-g">
          <div class="clock-img  pure-u-1 pure-u-md-1-2">
            <img class="pure-img" src="../../assets/clock.png" alt="">
          </div>


          <div class="watchInfo pure-u-1 pure-u-md-1-2">
            <span id="gameTimer" style="color: black; font-size: 5vw; font-family: Impact, Charcoal, sans-serif">300</span>
            <span style="color: black; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">seconds</span>
            <span style="color: black; font-size: 1.5vw; font-family: Impact, Charcoal, sans-serif">left for business</span>
          </div>
        </div>

      </div>
      <div class="fishList">
        <div class="allFish pure-g">
          <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
          v-for="(profit, index) in profitList"
          :key="index">
          <div class="ladder">
            <!-- <span style="color: #6D4620; font-size: 25.4pt; font-family: Impact, Charcoal, sans-serif">{{ profit.value }}</span> -->
            <fish1 v-bind:profit='profit' v-if='index==0'> </fish1>
            <fish2 v-bind:profit='profit' v-if='index==1'> </fish2>
            <fish3 v-bind:profit='profit' v-if='index==2'> </fish3>
            <fish4 v-bind:profit='profit' v-if='index==3'> </fish4>
            <fish5 v-bind:profit='profit' v-if='index==4'> </fish5>
          </div>
          <!-- <span style="color: #6D4620; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ profit.stamina }}</span> -->



        </div>
      </div>
    </div>

  </div>
  <div class="proposalHistoryBox">
    <div class="proposalHistoryBoxInside">
      <div class="historyBox">

        <div class="historyBoxPendingProposal">
          <span style="color: white" v-show="!showPendingProposal">There is no pending proposal. Let's do business!</span>

          <div class="totalShare" v-show="showPendingProposal">
            <span style="color: white; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
            <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTaskName }}</span>
          </div>

          <div class="listOfEachShare pure-g" v-show="showPendingProposal">
            <div class="eachShare pure-u-1-3 pure-u-md-1-5"
            v-for="(pendingTarget, index) in pendingProposal"
            :key="index"
            >
            <img v-if="pendingTarget.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
            <img v-if="pendingTarget.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
            <img v-if="pendingTarget.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
            <img v-if="pendingTarget.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
            <img v-if="pendingTarget.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
            <span style="color: #CCCCCC; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTarget.share }}</span>
            <span class="responseStatus" width="40%" height="70%">
              <i class="far fa-question-circle" v-show="pendingTarget.response==='None'" color=grey></i>
              <i class="far fa-check-circle" v-show="pendingTarget.response==='Yes'" color=green></i>
              <i class="far fa-times-circle" v-show="pendingTarget.response==='No'" color=red></i>
            </span>
          </div>
        </div>

        <div class="selectionButton" v-show="showPendingProposal">
          <span class="yesButton"></span>
          <span class="noButton"></span>
        </div>
      </div>
      <div class="pendingProposalTimer" v-show="showPendingProposal">
        <span class="clockIcon"><i class="far fa-clock"></i></span>
        <span class="timer">
          <span id="proposalProgress">
            <span id="proposalBar"></span>
          </span>
        </span>
      </div>
      <div class="historyBoxName">
        <span style="color: white">Proposal History</span>
      </div>
      <div class="historyBoxHistory" v-chat-scroll>
        <div
        v-for="(proposal, index) in proposalHistory"
        :key="index"
        class="proposalHistoryItem"
        >
        <div class="totalShare">
          <span style="color: #CCCCCC; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
          <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{proposal.taskName}}</span>
        </div>

        <div class="listOfEachShare pure-g">
          <div class="eachShare pure-u-1-3 pure-u-md-1-5"
          v-for="(target, index) in proposal.history"
          :key="index"
          >
          <img v-if="target.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="target.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="target.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="target.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="target.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
          <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ target.share }}</span>
          <span class="responseStatus" width="40%" height="70%">
            <i class="far fa-question-circle" v-show="target.response==='None'" color=black></i>
            <i class="far fa-check-circle" v-show="target.response==='Yes'" color=black></i>
            <i class="far fa-times-circle" v-show="target.response==='No'" color=black></i>
          </span>
        </div>
      </div>

      <div class="selectionResult">
        <span style="color: #CCCCCC; font-size: 1vw;">{{ proposal.result }}</span>
      </div>
    </div>
  </div>

</div>
</div>
<div class="currentProposalLabelBox">
  <div>
    <span class="pure-button pure-button-primary">Main Page</span>
  </div>

</div>
</div>

</div>
</div>
</template>

<script>
import VueChatScroll from 'vue-chat-scroll'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from '../fish/FishOne.vue'
import FishTwo from '../fish/FishTwo.vue'
import FishThree from '../fish/FishThree.vue'
import FishFour from '../fish/FishFour.vue'
import FishFive from '../fish/FishFive.vue'
export default {
  name: 'Slide2',
  data () {
    return {
      userName: "Red Cat",
      userStamina: 15,
      userList: [
        {name: "Blue Cat", stamina: 10},
        {name: "Brown Cat", stamina: 9},
        {name: "Green Cat", stamina: 20},
        {name: "Yellow Cat", stamina: 17}
      ],
      profitList: [
        {rank: 0, stamina: 22, value: 11, name: 22},
        {rank: 1, stamina: 32, value: 13, name: 32},
        {rank: 2, stamina: 40, value: 17, name: 40},
        {rank: 3, stamina: 51, value: 19, name: 51},
      ],
      proposalWindowList: [
        {name: "Red Cat", stamina: 15, status: 'inPlay', share: 0},
        {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 0},
        {name: "Brown Cat", stamina: 9, status: 'inPlay', share: 0},
        {name: "Green Cat", stamina: 20, status: 'inPlay', share: 0},
        {name: "Yellow Cat", stamina: 17, status: 'inPlay', share: 0}
      ],
      currentTaskName: '',
      // isWaitingForPLayer: true,
      numPlayerWaitingFor: 4,
      proposalHistory: [
        {taskName: 32, history: [
          {name: "Red Cat", share: 5, response: "No"},
          {name: "Blue Cat", share: 4, response: "Yes"},
          {name: "Brown Cat", share: 4, response: "None"},
        ], result: "Rejected"}
      ],
      showPendingProposal: false,
      pendingTaskName: "",
      pendingProposal: [],
      errorMessage: "",
    }
  },
  components: {
    RangeSlider,
    "fish1" : FishOne,
    "fish2" : FishTwo,
    "fish3" : FishThree,
    "fish4" : FishFour,
    "fish5" : FishFive,
  },
  methods: {
  },
  mounted: function () {
    // this.$tours['myTour'].start()
  }
}
</script>
<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";
</style>
