<template lang="html">
  <div class="slide-wrapper">
    <!-- <img class="pure-img" src="../assets/gameLogo.png" alt="avatar"> -->
    <div class="slide-content">
      <h1>Introduction</h1>
      <p>Business Cats is a cooperative game: you will be playing with others, trying to complete a set of tasks in order to obtain rewards.</p>

    </div>
    <div class="scrshot">
      <waitingscreen v-bind:isWaiting='true'
      :time='Number(new Date().getTime())'></waitingscreen>
    </div>
  </div>


</template>

<script>
import WaitingScreen from '../WaitingScreen.vue'
export default {
  name: "Slide1",
  components: {
    "waitingscreen": WaitingScreen,
  },
}
</script>

<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";

</style>
