<template>
  <div class="slide-wrapper">
    <div class="slide-content">
      <h2>Player Ability</h2>
      <p>
        <ul>
          <li>In order to reach the shelves, the cats use ladders to climb up. </li>
          <li>Each cat has a ladder of a different height. </li>
          <li>Some shelves are higher than any individual ladder; however, the cats’ ladders can be stacked on top of each other, so by working together, cats can reach higher shelves.</li>
        </ul>
      </p>
    </div>
    <div class="scrshot pure-g">
      <div class="pure-u-1-2 pure-u-md-1-3">
        <div class="catList ">
          <div class="catYou">
            <img class="catIcon" v-if="userName === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
            <img class="catIcon" v-if="userName === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
            <img class="catIcon" v-if="userName === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
            <img class="catIcon" v-if="userName === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
            <img class="catIcon" v-if="userName === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
            <div class="catInfo">
              <div class="catName" style="color: white; font-size: 1vmax">{{ userName }} (You)</div>
              <div class="catClimbInfo">
                <span style="color: black; font-size: 1vmax">Ladder Height</span>
                <span class="ladderIcon"></span>
                <span style="color: white; font-size: 2vmax">{{ userStamina }}</span>
              </div>
            </div>
          </div>
          <div class="catOther"
          v-for="(user, index) in userList"
          :key="index"
          v-if="user.name!==userName">
          <img class="catIcon" v-if="user.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
          <img class="catIcon" v-if="user.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
          <img class="catIcon" v-if="user.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
          <img class="catIcon" v-if="user.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
          <img class="catIcon" v-if="user.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
          <div class="catInfo">
            <div class="catName" style="color: white; font-size: 1vmax">{{ user.name }}</div>
            <div class="catClimbInfo">
              <span style="color: black; font-size: 1vmax">Ladder Height</span>
              <span class="ladderIcon"></span>
              <span style="color: white; font-size: 1.5vmax">{{ user.stamina }}</span>
            </div>
          </div>
        </div>
        </div>

      </div>
      <div class="pure-u-1-2 pure-u-md-1-3">
        <div class="pure-g">
          <div class="pure-u-1-2">
            <img  style="height:50px;" src="../../assets/catRed.png">
            <!-- <div style="color: #6D4620; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">15</div> -->
          </div>
          <div class="pure-u-1-2">
            <img style="height:50px;" src="../../assets/catBlue.png">
            <!-- <div style="color: #6D4620; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">10</div> -->
          </div>
        </div>
        <!-- <div style="color: #6D4620; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">11</div> -->
        <svg xmlns="http://www.w3.org/2000/svg" id="svg3777" viewBox="0 0 215.897 215.897">
          <g id="layer1" transform="translate(-15.932 -70.605)">
            <path id="path27-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M127.276 265.685c.302 5.243-56.453 2.664-75.979.33 0 0-3.715-5.649-3.04-13.824-.278-5.837 2.42-7.363 3.257-9.38l31.911-.987 29.775-.385c3.323.178 14.964-1.38 14.293 2.689 0 0 .826 6.157-.217 21.557z"/>
            <path id="path29-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.35 267.228c-26.09-.593-43.174.48-59.289-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.493 3.035 0 0 1.185 4.945.25 20.344-.153 1.916-3.954 1.555-6.891 1.733z"/>
            <path id="path31-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M157.92 238.379c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
            <path id="path33-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.788 239.818c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.864 2.689 0 0 6.603 23.749-.119 21.557z"/>
            <path id="path35-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.042 238.876c-1.214 3.385-51.451 3.461-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.719.308c2.027.261 8.985-2.216 9.935 6.5 2.511 8.684 1.735 16.012 1.735 16.012z"/>
            <path id="path27-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M128.125 212.538c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.178 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
            <path id="path29-9-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.67 214.081c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.945.25 20.344-.152 1.916-3.954 1.555-6.89 1.733z"/>
            <path id="path31-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M158.768 184.702c-2.095 3.463-51.401 1.741-62.165.358 0 0-3.333-6.14-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.045 4.618-.222 6.028.519.289-.417 17.028z"/>
            <path id="path33-8-4" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M89.637 186.67c-3.786-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.829.176 8.233-1.382 7.864 2.688 0 0 6.603 23.749-.12 21.557z"/>
            <path id="path35-0-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.89 185.2c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.297-7.3l18.845-1.161 16.719.308c2.026.262 8.985-2.215 9.935 6.501 2.51 8.684 1.735 16.012 1.735 16.012z"/>
            <path id="path27-7-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.353 159.812c.302 5.243-56.454 2.663-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
            <path id="path29-9-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.315 161.78c-26.091-.594-43.175.48-59.29-1.058 0 0-2.222-4.434-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.765 1.24-2.378 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.035 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.953 1.554-6.89 1.733z"/>
            <path id="path844" fill="#5a5354" stroke="#e5000b" stroke-width=".08" d="M36.078 286.49c2.226-7.069 8.115-11.696 13.793-16.463 9.582-5.22 93.217-1.863 148.778-3.114 0 0 16.343 8.53 21.189 19.132"/>
          </g>
          <g id="layer2" transform="translate(-15.932 -70.605)">
            <path id="path6090" fill="#310023" stroke="#050000" stroke-width=".159" d="M48.735 114.675a77.834 22.366 0 0 0 77.5 20.453 77.834 22.366 0 0 0 77.187-19.645z"/>
            <ellipse id="ellipse6111" cx="126.24" cy="114.784" fill="#626855" stroke="#050000" stroke-width=".167" rx="77.471" ry="6.724"/>
            <path id="path1607-3" fill="#df7c00" stroke="#000" stroke-width=".144" d="M68.07 86.559c.654-1.662 12.525-3.368 18.147-2.94 8.737 1.647 13.536 3.076 18.567 4.518 2.37-.069 4.017-2.872 5.845-4.99 4.242.703 3.472 1.241 4.597 1.842 3.802 5.513 2.305 3.948 3.062 5.394l.145 2.174c3.637 1.648 6.084 2.375 8.124 2.786 4.53-1.696 8.65-3.716 11.633-5.42 2.145 4.776 5.173 7.227 8.868 9.236l-4.176 1.473c4.79 1.051 9.636 2.282 13.614.752 7.213-2.84 13.47-11.458 18.114-11.156-.638 8.91.75 17.492 2.937 25.944-7.316 1.25-12.594-5.103-19.348-5.947-5.755.135-7.494 1.194-10.989 1.935l-1.992.38 3.006 1.264c-5.01 2.825-5.138 6.957-9.096 10.064-2.688-1.913-2.522-5.137-6.845-7.018l-8.046 1.808c-7.402.71-15.66.211-28.354-6.53l3.687 6.324c-1.37 2.865-3.416 4.49-5.824 5.453-2.038-3.842-1.112-8.35-.81-12.719-7.764-2.681-14.576-8.919-21.686-14.044-1.801-3.39-4.113-3.99-3.18-10.583z"/>
            <path id="path1609-90" fill="none" stroke="#000" stroke-width=".156" d="M79.477 103.312c4.596 1.005 9.681 1.985 13.046-.926 1.735-.913 2.945-1.812 4.472-4.748.524-5.791-.42-7.481-1.915-8.594-.563-1.737-3.96-3.473-7.205-5.132"/>
            <ellipse id="path1611-52" cx="100.848" cy="66.34" fill="#d8a054" stroke="#000" stroke-width=".156" opacity=".52" rx="1.054" ry=".994" transform="rotate(15)"/>
            <ellipse id="path1613-27" cx="100.865" cy="66.267" stroke="#000" stroke-width=".156" opacity=".52" rx=".474" ry=".479" transform="rotate(15)"/>
          </g>
          <g id="layer3" transform="translate(-15.932 -70.605)">
            <path id="pathone1" fill="#5a351e"  d="M85.202 237.89v37.424h11.374v-15.141h61.498v15.141h11.374v-37.425h-11.374v12.999H96.576v-12.999z"/>
            <path id="pathone2" fill="#5a351e"  d="M85.202 200.465v37.424h11.374v-15.141h61.498v15.141h11.374v-37.424h-11.374v12.998H96.576v-12.998z"/>
            <path id="pathone3" fill="#5a351e"  d="M85.202 163.04v37.425h11.374v-15.142h61.498v15.142h11.374V163.04h-11.374v12.999H96.576v-13z"/>
            <path id="pathone4" fill="#5a351e"  d="M85.202 125.615v37.425h11.374v-15.141h61.498v15.14h11.374v-37.424h-11.374v12.999H96.576v-12.999z"/>
            </g>
            <g id="layer4">
              <path id="path73" fill="none" stroke="#000" stroke-width="1.852" d="M2.822 66.223h29.365"/>
              <path id="path75" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M17.962 70.083l-4.52.048 2.218-3.938z" transform="matrix(1.6389 0 0 1.34349 -8.411 -21.906)"/>
              <path id="path884" fill="none" stroke="#000" stroke-width="1.659" d="M17.253 71.686l.147 48.942"/>
              <path id="path886" fill="none" stroke="#000" stroke-width="1.852" d="M3.063 203.004H32.43"/>
              <path id="path888" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M18.204-199.143l-4.52.048 2.218-3.94z" transform="matrix(1.6389 0 0 -1.34349 -8.569 -70.565)"/>
              <path id="path890" fill="none" stroke="#000" stroke-width="1.748" d="M17.491 197.976l.15-48.943"/>
              <text id="text894" x=".732" y="144.504" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
                <tspan id="tspan892" x=".732" y="144.504" font-size="25.4">22</tspan>
              </text>
            </g>
          <g id="layer5" transform="translate(0 -.794)">
            <text id="text894-3" x="17.764" y="34.466" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
              <tspan id="tspan86" x="17.764" y="34.466" font-size="14.111" style="line-height:14.15501213px;text-align:center" text-anchor="middle">
                <tspan id="tspan96" font-size="25.4" style="line-height:14.15501213px">11
                </tspan>
              </tspan>
              <tspan id="tspan98" x="17.764" y="49.538" font-size="14.111" style="line-height:14.15501213px;text-align:center" text-anchor="middle">pts
              </tspan>
            </text>
          </g>
        </svg>


      </div>
      <div class="pure-u-1 pure-u-md-1-3" style='margin:auto; text-align:left; font-family: "Arial, sans-serif";'>
        In this example, the Red Cat and the Blue Cat have a combined ladder height of 10 + 15 = 25, so they can reach the reward at the top of the shelf of height 22.


      </div>

  </div>
</div>
</template>

<script>
import VueChatScroll from 'vue-chat-scroll'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from '../fish/FishOne.vue'
export default {
  name: 'Slide4',
  data () {
    return {
      userName: "Red Cat",
      userStamina: 15,
      userList: [
        {name: "Blue Cat", stamina: 10},
        {name: "Brown Cat", stamina: 9},
        {name: "Green Cat", stamina: 20},
        {name: "Yellow Cat", stamina: 17}
      ],
    }
  },
  components: {
    "fish1": FishOne,
  },
  methods: {

  },
  mounted: function () {

  }
}
</script>
<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";
.scrshot {
  justify-content: center;
  align-items: flex-start;
}


</style>
