<template>
  <div class="slide-wrapper">
    <div class="slide-content">
      <h1>Gameplay</h1>
      <p>
        <ul>
          <li>You must decide which players you cooperate with, and how to divide the reward.</li>
          <li>To work with others, you must make a proposal to other players.</li>
          <li>To make a proposal, click on a task that you want to complete.</li>
          <li>You must offer shares of the task reward to the players that you want to work with.</li>
          <li>The total amount that you share with others must sum to the total reward available.</li>
          <li>Click <img src="../../assets/yesButton.png" width="42"> to accept proposal; <img src="../../assets/noButton.png" width="42"> to reject proposal. </li>

        </ul>
      </p>
    </div>
    <div class="scrshot">
      <div class="guide">
        <p> - Click on a ladder (a fish) in order to generate a proposal.</p>
        <p> - Use <button type="button">Normalize</button> button to make proposal shares sum up to the reward.</p>


      </div>

      <div class="catListAndFishList">

        <div class="catListAndClock">
          <div class="catList">
            <div class="catYou">
              <img class="catIcon" v-if="userName === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
              <img class="catIcon" v-if="userName === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
              <div class="catInfo">
                <div class="catName" style="color: white; font-size: 1vw">{{ userName }} (You)</div>
                <div class="catClimbInfo">
                  <span style="color: black; font-size: 1vw">Ladder Height</span>
                  <span class="ladderIcon"></span>
                  <span style="color: white; font-size: 2vw">{{ userStamina }}</span>
                </div>
              </div>
            </div>
            <div class="catOther"
            v-for="(user, index) in userList"
            :key="index"
            v-if="user.name!==userName">
            <img class="catIcon" v-if="user.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar"/>
            <img class="catIcon" v-if="user.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar"/>
            <div class="catInfo">
              <div class="catName" style="color: white; font-size: 1vw">{{ user.name }}</div>
              <div class="catClimbInfo">
                <span style="color: black; font-size: 1vw">Ladder Height</span>
                <span class="ladderIcon"></span>
                <span style="color: white; font-size: 1.5vw">{{ user.stamina }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clock pure-g">
          <div class="clock-img  pure-u-1 pure-u-md-1-2">
            <img class="pure-img" src="../../assets/clock.png" alt="">
          </div>


          <div class="watchInfo pure-u-1 pure-u-md-1-2">
            <span id="gameTimer" style="color: black; font-size: 5vw; font-family: Impact, Charcoal, sans-serif">300</span>
            <span style="color: black; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">seconds</span>
            <span style="color: black; font-size: 1.5vw; font-family: Impact, Charcoal, sans-serif">left for business</span>
          </div>
        </div>

      </div>
      <div class="fishList">
        <div class="allFish pure-g">
          <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
          v-for="(profit, index) in profitList"
          :key="index">
          <popper trigger="click" :options="{placement: 'auto', positionFixed: true}"
          :disabled="currentTaskName!==profit.name">



          <div class="proposeBox popper">
            <span>Divide the fish!</span>
            <a
            v-for="(proposeTarget, index) in proposalWindowList"
            :key="index"
            >
            <div class="proposeBoxElement pure-g" v-if="proposeTarget.status==='inPlay'">
              <span class="pure-u-1-8" v-if="proposeTarget.name==='Red Cat'"><img class="pure-img" src="../../assets/RedCat.png" ></span>
              <span class="pure-u-1-8" v-if="proposeTarget.name==='Blue Cat'"><img class="pure-img" src="../../assets/BlueCat.png" ></span>
              <span class="pure-u-1-8" v-if="proposeTarget.name==='Brown Cat'"><img class="pure-img" src="../../assets/BrownCat.png" ></span>
              <span class="pure-u-1-8" v-if="proposeTarget.name==='Green Cat'"><img class="pure-img" src="../../assets/GreenCat.png" ></span>
              <span class="pure-u-1-8" v-if="proposeTarget.name==='Yellow Cat'"><img class="pure-img" src="../../assets/YellowCat.png" ></span>
              <span class="pure-u-6-8"><range-slider
                class="slider"
                min="0"
                :max= "profit.value"
                step="1"
                v-model="proposeTarget.share">
              </range-slider></span>
              <span class="pure-u-1-8"><input type="number" min="0" :max="profit.value" v-model.number="proposeTarget.share"></span>


            </div>
          </a>

          <div><button class="button"v-if="!showPendingProposal" @click="normalize()">Normalize</button>
            <button class="button"v-if="!showPendingProposal" @click="checkProposal()">Submit</button>
          </div>
          <span class="error">{{ errorMessage }}</span>
          <span v-if="showPendingProposal">Cannot make proposal now</span>
        </div>

        <div slot="reference" class="ladder" @click = "makeProposal(profit.value, profit.stamina, profit.name)">
          <!-- <span style="color: #6D4620; font-size: 25.4pt; font-family: Impact, Charcoal, sans-serif">{{ profit.value }}</span> -->
          <fish1 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==0'> </fish1>
          <fish2 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==1'> </fish2>
          <fish3 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==2'> </fish3>
          <fish4 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==3'> </fish4>
          <fish5 v-bind:profit='{stamina: profit.stamina, sum: sum * (profit.name === currentTaskName), value: profit.value}' v-if='index==4'> </fish5>
          <!-- <span style="color: #6D4620; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ profit.stamina }}</span> -->
        </div>
      </popper>
    </div>
  </div>
</div>

</div>
<div class="proposalHistoryBox">
  <div class="proposalHistoryBoxInside">
    <div class="historyBox">

      <div class="historyBoxPendingProposal">
        <span style="color: white" v-show="!showPendingProposal">There is no pending proposal. Let's do business!</span>

        <div class="totalShare" v-show="showPendingProposal">
          <span style="color: white; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
          <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTaskName }}</span>
        </div>

        <div class="listOfEachShare pure-g" v-show="showPendingProposal">
          <div class="eachShare pure-u-1-3 pure-u-md-1-5"
          v-for="(pendingTarget, index) in pendingProposal"
          :key="index"
          >
          <img v-if="pendingTarget.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
          <img v-if="pendingTarget.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
          <span style="color: #CCCCCC; font-size: 2.5vw; font-family: Impact, Charcoal, sans-serif">{{ pendingTarget.share }}</span>
          <span class="responseStatus" width="40%" height="70%">
            <i class="far fa-question-circle" v-show="pendingTarget.response==='None'" color=grey></i>
            <i class="far fa-check-circle" v-show="pendingTarget.response==='Yes'" color=green></i>
            <i class="far fa-times-circle" v-show="pendingTarget.response==='No'" color=red></i>
          </span>
        </div>
      </div>

      <div class="selectionButton" v-show="showPendingProposal">
        <span class="yesButton"></span>
        <span class="noButton"></span>
      </div>
    </div>
    <div class="pendingProposalTimer" v-show="showPendingProposal">
      <span class="clockIcon"><i class="far fa-clock"></i></span>
      <span class="timer">
        <span id="proposalProgress">
          <span id="proposalBar"></span>
        </span>
      </span>
    </div>
    <div class="historyBoxName">
      <span style="color: white">Proposal History</span>
    </div>
    <div class="historyBoxHistory" v-chat-scroll>
      <div
      v-for="(proposal, index) in proposalHistory"
      :key="index"
      class="proposalHistoryItem"
      >
      <div class="totalShare">
        <span style="color: #CCCCCC; font-size: 1vw; font-family: Impact, Charcoal, sans-serif">Total share</span>
        <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{proposal.taskName}}</span>
      </div>

      <div class="listOfEachShare pure-g">
        <div class="eachShare pure-u-1-3 pure-u-md-1-5"
        v-for="(target, index) in proposal.history"
        :key="index"
        >
        <img v-if="target.name === 'Red Cat'" src="../../assets/catRed.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Blue Cat'" src="../../assets/catBlue.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Yellow Cat'" src="../../assets/catYellow.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Brown Cat'" src="../../assets/catBrown.png" alt="Avatar" width="50%" height="70%"/>
        <img v-if="target.name === 'Green Cat'" src="../../assets/catGreen.png" alt="Avatar" width="50%" height="70%"/>
        <span style="color: #CCCCCC; font-size: 2vw; font-family: Impact, Charcoal, sans-serif">{{ target.share }}</span>
        <span class="responseStatus" width="40%" height="70%">
          <i class="far fa-question-circle" v-show="target.response==='None'" color=black></i>
          <i class="far fa-check-circle" v-show="target.response==='Yes'" color=black></i>
          <i class="far fa-times-circle" v-show="target.response==='No'" color=black></i>
        </span>
      </div>
    </div>

    <div class="selectionResult">
      <span style="color: #CCCCCC; font-size: 1vw;">{{ proposal.result }}</span>
    </div>
  </div>
</div>

</div>
</div>
<div class="currentProposalLabelBox">
  <div>
    <span class="pure-button pure-button-primary">Main Page</span>
  </div>

</div>
</div>

</div>
</div>
</template>

<script>
import VueChatScroll from 'vue-chat-scroll'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from '../fish/FishOne.vue'
import FishTwo from '../fish/FishTwo.vue'
import FishThree from '../fish/FishThree.vue'
import FishFour from '../fish/FishFour.vue'
import FishFive from '../fish/FishFive.vue'
import Popper from '../Popper.vue';


export default {
  name: 'Slide5',
  data () {
    return {
      userName: "Red Cat",
      userStamina: 15,
      userList: [
        {name: "Blue Cat", stamina: 10},
        {name: "Brown Cat", stamina: 9},
        {name: "Green Cat", stamina: 20},
        {name: "Yellow Cat", stamina: 17}
      ],
      profitList: [
        {rank: 0, stamina: 22, value: 11, name: 22},
        {rank: 1, stamina: 32, value: 13, name: 32},
        {rank: 2, stamina: 40, value: 17, name: 40},
        {rank: 3, stamina: 51, value: 19, name: 51},
        // {rank: 4, stamina: 61, value: 23, name: 61},
      ],
      proposalWindowList: [
        {name: "Red Cat", stamina: 15, status: 'inPlay', share: 0},
        {name: "Blue Cat", stamina: 10, status: 'inPlay', share: 0},
        {name: "Brown Cat", stamina: 9, status: 'inPlay', share: 0},
        {name: "Green Cat", stamina: 20, status: 'inPlay', share: 0},
        {name: "Yellow Cat", stamina: 17, status: 'inPlay', share: 0}
      ],
      currentTaskName: '',
      // isWaitingForPLayer: true,
      numPlayerWaitingFor: 4,
      proposalHistory: [
        {taskName: 32, history: [
          {name: "Red Cat", share: 5, response: "No"},
          {name: "Blue Cat", share: 4, response: "Yes"},
          {name: "Brown Cat", share: 4, response: "None"},
        ], result: "Rejected"}
      ],
      showPendingProposal: false,
      pendingTaskName: "",
      pendingProposal: [],

      currentStep: 0,
      errorMessage: "",
    }
  },
  components: {
    RangeSlider,
    "fish1" : FishOne,
    "fish2" : FishTwo,
    "fish3" : FishThree,
    "fish4" : FishFour,
    "fish5" : FishFive,
    'popper': Popper
  },
  computed: {
    sum() {
      var total = 0;
      this.proposalWindowList.forEach(element => {
        if (!isNaN(element.share) && Number(element.share) !== 0) {
          total += Number(element.stamina)
        }
      });
      return total
    }
  },
  methods: {
    normalize() {
      var value = 0
      this.profitList.forEach(profit => {
        if (profit.name === this.currentTaskName) {
          value = profit.value
        }
      })
      var totalWeight = 0
      this.proposalWindowList.forEach(proposalTarget => {
        totalWeight += proposalTarget.share
      })
      var acc = 0
      var acc_norm = 0
      this.proposalWindowList.forEach(proposalTarget => {
        acc += proposalTarget.share
        if (acc < totalWeight) {
          proposalTarget.share = Math.floor(proposalTarget.share/totalWeight * value)
        } else {
          proposalTarget.share = value - acc_norm
        }
        acc_norm += proposalTarget.share
      })
    },
    makeProposal(value, stamina, taskName) {
      // this.proposalWindowList.forEach(user => {
      //   user.share = '';
      // })
      if (this.currentTaskName === taskName) {
        this.currentTaskName = ''
      } else {
        this.currentTaskName = taskName
        this.proposalWindowList.forEach(proposalElement => {
          proposalElement.share = 0
        })
        this.errorMessage = ""
      }

    },
    checkProposal () {
      var value = 0
      var neededStamina = 0
      var originalValue = 0
      var checkActivePlayer = true
      var currentShare = 0
      this.profitList.forEach(profit => {
        if (profit.name === this.currentTaskName) {
          value = profit.value
          neededStamina = profit.stamina
          originalValue = value
        }
      })
      this.proposalWindowList.forEach(element => {
        if (element.status !== 'inPlay') {
          checkActivePlayer = false
        }
        if (!isNaN(element.share)) {
          value = value - Number(element.share)
          if (Number(element.share) !== 0) {
            neededStamina = neededStamina - Number(element.stamina)
          }
          if (element.name === this.userName) {
            currentShare = Number(element.share)
          }
        }
      })
      if (!checkActivePlayer) {
        this.errorMessage = 'Do not propose to inactive players!'
      }
      if (value !== 0) {
        this.errorMessage = 'Total share must sum to the reward!'
      } else if (currentShare === 0){
        this.errorMessage = 'Do not take 0 share!'
      } else if (neededStamina > 0) {
        this.errorMessage = 'You don’t have enough ladder height!'
      } else {
        var pendingProposal = []
        this.proposalWindowList.forEach(element => {
          var response = 'None'
          if (element.name === this.userName) {
            response = 'Yes'
          }
          if (element.share != 0) {
            pendingProposal.push({
              name: element.name,
              share: element.share,
              response: response

            })

          }
        })
        this.pendingProposal = pendingProposal
        this.showPendingProposal = true
        this.currentTaskName = ''

      }
    }
  },
  mounted: function () {
    // this.$tours['myTour'].start()
  }
}
</script>
<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";

.popper {
  height: 250px;
  width: 240px;
}
.guide {
  margin: 15px;
  background-color: #22b573;
  padding: 5px;
  box-shadow: 5px 10px #888888;

}
.error {
  color: #cc3300
}

input[type=number] {
  width: 40px;
  border: 1px solid black;
}
</style>
