<template>
  <div class="slide-wrapper">
    <div class="slide-content">
      <h2>Rewards</h2>
      <p>
        <ul>
          <li>Your rewards are fish located at the top of shelves. </li>
          <li> Every shelf contains a different amount of fish. </li>
          <li>The worth of the fish can be split amongst the players in any way you like.</li>
        </ul>
      </p>
    </div>
    <div class="scrshot">

      <div class="fishList2 pure-g">
        <div class="fishSection pure-u-1-2 pure-u-md-1-5 pure-u-lg-1-5"
        v-for="(profit, index) in profitList"
        :key="index">
        <div>
          <!-- <div style="color: #6D4620; font-size: 25.4pt; font-family: Impact, Charcoal, sans-serif">{{ profit.value }}</div> -->

          <fish1 v-bind:profit='profit' v-if='index==0'> </fish1>
          <fish2 v-bind:profit='profit' v-if='index==1'> </fish2>
          <fish3 v-bind:profit='profit' v-if='index==2'> </fish3>
          <fish4 v-bind:profit='profit' v-if='index==3'> </fish4>
          <fish5 v-bind:profit='profit' v-if='index==4'> </fish5>
        </div>

      </div>
    </div>
  </div>
</div>
</template>

<script>
import VueChatScroll from 'vue-chat-scroll'
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
import FishOne from '../fish/FishOne.vue'
import FishTwo from '../fish/FishTwo.vue'
import FishThree from '../fish/FishThree.vue'
import FishFour from '../fish/FishFour.vue'
import FishFive from '../fish/FishFive.vue'
export default {
  name: 'Slide3',
  data () {
    return {

      profitList: [
        {rank: 0, stamina: 22, value: 11, name: 22},
        {rank: 1, stamina: 32, value: 13, name: 32},
        {rank: 2, stamina: 40, value: 17, name: 40},
        {rank: 3, stamina: 51, value: 19, name: 51},
      ],
    }
  },
  components: {
    RangeSlider,
    "fish1" : FishOne,
    "fish2" : FishTwo,
    "fish3" : FishThree,
    "fish4" : FishFour,
    "fish5" : FishFive,
  },
  methods: {
  },
  mounted: function () {
  }
}
</script>
<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";

.fishList2 {
  justify-content: center;
}
</style>
