<template>
  <div class="slide-wrapper">
    <div class="slide-content">
      <h1>Gameplay</h1>
      <p>
        <ul>
          <li>Remember, a proposal is only valid if the cats involved in it can actually reach the reward!</li>
          <li>The total amount shared amongst the players must be exactly the reward.</li>
          <li>You must also award a positive amount to yourself.</li>
          <li>Proposals remain active for 30 seconds. During this time, every player involved in a proposal must either accept or reject it.</li>
          <li>If a proposal is not accepted by all players involved within 30 seconds, it is automatically rejected.</li>
          <li>A rejected proposal results in a 30 second delay for the proposer to make another proposal and a 15 second delay for the other players.  </li>
          <li>When players accept a proposal, they are removed from the game. Any remaining players can continue.</li>
          <li>You have 300 seconds to play.</li>
        </ul>
      </p>
    </div>
</div>
</template>

<style scoped lang="scss">
@import "../../../node_modules/purecss/build/pure-min.css";
@import "../../../node_modules/purecss/build/grids-responsive-min.css";
@import "../../css/pure-template.css";
@import "../../css/style.css";
</style>
