<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f9f5;
  /*font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: "Arial, sans-serif";
  font-size: 20px;
}
</style>
