<template lang="html">
  <svg xmlns="http://www.w3.org/2000/svg" id="svg3777" viewBox="0 0 215.897 444.494">
    <g id="layer1" transform="translate(-15.932 157.993)">
      <path id="path27-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M127.276 265.685c.302 5.243-56.453 2.664-75.979.33 0 0-3.715-5.649-3.04-13.824-.278-5.837 2.42-7.363 3.257-9.38l31.911-.987 29.775-.385c3.323.178 14.964-1.38 14.293 2.689 0 0 .826 6.157-.217 21.557z"/>
      <path id="path29-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.35 267.228c-26.09-.593-43.174.48-59.289-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.493 3.035 0 0 1.185 4.945.25 20.344-.153 1.916-3.954 1.555-6.891 1.733z"/>
      <path id="path31-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M157.92 238.379c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.788 239.818c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.864 2.689 0 0 6.603 23.749-.119 21.557z"/>
      <path id="path35-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.042 238.876c-1.214 3.385-51.451 3.461-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.719.308c2.027.261 8.985-2.216 9.935 6.5 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M128.125 212.538c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.178 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.67 214.081c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.945.25 20.344-.152 1.916-3.954 1.555-6.89 1.733z"/>
      <path id="path31-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M158.768 184.702c-2.095 3.463-51.401 1.741-62.165.358 0 0-3.333-6.14-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.045 4.618-.222 6.028.519.289-.417 17.028z"/>
      <path id="path33-8-4" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M89.637 186.67c-3.786-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.829.176 8.233-1.382 7.864 2.688 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.89 185.2c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.297-7.3l18.845-1.161 16.719.308c2.026.262 8.985-2.215 9.935 6.501 2.51 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.353 159.812c.302 5.243-56.454 2.663-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.315 161.78c-26.091-.594-43.175.48-59.29-1.058 0 0-2.222-4.434-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.765 1.24-2.378 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.035 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.953 1.554-6.89 1.733z"/>
      <path id="path31-3-22" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M155.86 132.34c-2.097 3.463-51.403 1.74-62.167.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.712.9c2.982.193 7.647.195 7.046 4.618-.222 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.471 133.704c-3.786-.89-31.878 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.865 2.689 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M207.981 132.233c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.694-14.69-.175-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.72.308c2.026.261 8.985-2.216 9.934 6.5 2.512 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path844" fill="#5a5354" stroke="#e5000b" stroke-width=".08" d="M36.078 286.49c2.226-7.069 8.115-11.696 13.793-16.463 9.582-5.22 93.217-1.863 148.778-3.114 0 0 16.343 8.53 21.189 19.132"/>
      <path id="path27-7-0-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.35 107.753c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.039-13.823-.279-5.837 2.419-7.363 3.257-9.38l31.91-.987 29.776-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M194.724 109.72c-26.09-.593-43.175.48-59.29-1.056 0 0-2.222-4.435-1.616-12.61-.25-5.838 1.06-8.75 1.811-10.766 1.24-2.378 15.573-.994 27.525-.295l26.718-.384c2.982.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.153 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path31-3-22-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M160.457 81.067c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M93.069 82.43c-3.787-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.264-19.021 1.81-7.471 14.034-2.84 20.031-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.748-.12 21.557z"/>
      <path id="path35-0-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M212.579 80.96c-1.214 3.384-51.452 3.46-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.284 3.298-7.3l18.844-1.161 16.719.308c2.027.262 8.985-2.215 9.935 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-0-7-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.182 56.48c.301 5.243-56.454 2.663-75.98.329 0 0-3.715-5.648-3.039-13.823-.279-5.837 2.419-7.363 3.257-9.38l31.91-.987 29.775-.385c3.324.177 14.964-1.38 14.294 2.688 0 0 .825 6.158-.217 21.557z"/>
      <path id="path29-9-5-9-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.143 58.447c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.718-.384c2.983.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.732z"/>
      <path id="path33-8-7-2-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M92.9 31.157c-3.786-.89-31.878 4.598-41.803.33-2.312-3.06.157-10.087-1.264-19.022 1.81-7.47 14.034-2.84 20.03-4.822l15.293-.731c1.828.177 8.233-1.38 7.864 2.688 0 0 6.603 23.75-.12 21.557z"/>
      <path id="path35-0-3-2-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M212.41 29.687c-1.213 3.384-51.45 3.46-47.837.329 0 0-3.899-6.514-2.693-14.69-.176-5.836 2.77-5.283 3.297-7.3l18.845-1.16 16.719.308c2.026.262 8.985-2.215 9.935 6.5 2.51 8.685 1.734 16.013 1.734 16.013z"/>
      <path id="path31-3-24" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M161.169 30.016c-2.096 3.463-51.402 1.74-62.166.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.365-6.052 7.365-6.052l22.186-1.827 28.712.9c2.982.193 7.647.195 7.046 4.618-.222 6.028.518.29-.417 17.029z"/>
      <path id="path27-7-0-7-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M130.236 3.98c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9-9-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M193.14 5.948c-26.092-.594-43.176.48-59.29-1.057 0 0-2.223-4.435-1.616-12.61-.25-5.837 1.058-8.75 1.81-10.766 1.24-2.378 15.574-.994 27.525-.295l26.718-.384c2.983.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path33-8-7-2-3-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M90.955-21.342c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.748-.12 21.557z"/>
      <path id="path35-0-3-2-8-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.465-22.813c-1.214 3.384-51.451 3.46-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.284 3.298-7.3l18.844-1.161 16.72.308c2.026.262 8.984-2.215 9.934 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path31-3-24-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M159.223-22.484c-2.096 3.463-51.402 1.74-62.166.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.826 28.712.9c2.982.193 7.647.194 7.046 4.618-.222 6.027.518.289-.417 17.028z"/>
      <path id="path27-7-0-7-7-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M124.94-48.205c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9-9-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M187.844-46.237c-26.091-.594-43.175.48-59.29-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.75 1.81-10.766 1.24-2.377 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.733z"/>
    </g>
    <g id="layer2" transform="translate(-15.932 157.993)">
      <path id="path6090" fill="#310023" stroke="#050000" stroke-width=".159" d="M41.185-93.42a77.834 22.366 0 0 0 77.498 20.454 77.834 22.366 0 0 0 77.188-19.645z"/>
      <ellipse id="ellipse6111" cx="118.689" cy="-93.31" fill="#626855" stroke="#050000" stroke-width=".167" rx="77.471" ry="6.724"/>
      <path id="path1607-3" fill="#df7c00" stroke="#000" stroke-width=".144" d="M60.52-130.531c.654-1.662 12.524-3.368 18.146-2.94 8.737 1.647 13.536 3.077 18.567 4.519 2.37-.07 4.017-2.873 5.846-4.99 4.24.703 3.47 1.24 4.596 1.841 3.803 5.514 2.305 3.949 3.063 5.395l.144 2.173c3.637 1.648 6.084 2.375 8.125 2.787 4.53-1.697 8.65-3.716 11.632-5.421 2.145 4.776 5.173 7.227 8.868 9.237l-4.176 1.473c4.79 1.05 9.636 2.282 13.615.75 7.213-2.838 13.47-11.456 18.113-11.154-.638 8.91.75 17.491 2.937 25.943-7.315 1.251-12.593-5.102-19.348-5.946-5.754.135-7.494 1.193-10.989 1.934l-1.992.381 3.006 1.263c-5.01 2.825-5.138 6.958-9.095 10.065-2.688-1.914-2.522-5.137-6.845-7.018l-8.047 1.808c-7.401.709-15.66.21-28.353-6.53l3.686 6.324c-1.37 2.864-3.416 4.49-5.824 5.453-2.038-3.843-1.112-8.35-.81-12.72-7.764-2.68-14.576-8.919-21.686-14.043-1.801-3.39-4.113-3.991-3.18-10.584z"/>
      <path id="path1609-90" fill="none" stroke="#000" stroke-width=".156" d="M71.927-113.778c4.596 1.005 9.68 1.985 13.045-.926 1.736-.913 2.945-1.811 4.472-4.748.524-5.79-.42-7.48-1.915-8.593-.563-1.738-3.96-3.473-7.205-5.133"/>
      <ellipse id="path1611-52" cx="37.367" cy="-141.398" fill="#d8a054" stroke="#000" stroke-width=".156" opacity=".52" rx="1.054" ry=".994" transform="rotate(15)"/>
      <ellipse id="path1613-27" cx="37.385" cy="-141.471" stroke="#000" stroke-width=".156" opacity=".52" rx=".474" ry=".479" transform="rotate(15)"/>
      <path id="path1607-7" fill="#af7248" stroke="#000" stroke-width=".095" d="M80.619-99.564c.182-1.024 8.518-3.177 12.685-3.482 6.648.092 10.394.446 14.31.784 1.711-.273 2.414-2.054 3.37-3.458 3.211-.01 2.746.376 3.67.612 3.743 2.812 2.377 2.055 3.184 2.816l.49 1.242c2.938.594 4.847.774 6.405.81 2.996-1.425 5.636-2.997 7.505-4.275 2.406 2.549 5.043 3.667 8.087 4.465l-2.778 1.262c3.671.136 7.416.37 10.04-.905 4.746-2.35 7.775-7.945 11.207-8.227 1.112 5.21 3.64 10.033 6.727 14.702-5.102 1.442-10.067-1.71-15.131-1.534-4.164.644-5.242 1.427-7.654 2.199l-1.383.416 2.411.434c-3.145 2.125-2.508 4.526-4.838 6.71-2.294-.842-2.744-2.72-6.222-3.382l-5.536 1.836c-5.26 1.137-11.358 1.662-21.787-.985l3.801 3.291c-.49 1.79-1.691 2.93-3.273 3.724-2.163-2.02-2.287-4.716-2.839-7.27-6.124-.785-12.185-3.72-18.265-5.982-1.91-1.781-3.7-1.902-4.186-5.803z"/>
      <path id="path1609-9" fill="none" stroke="#000" stroke-width=".103" d="M91.973-90.992c3.522.129 7.395.195 9.329-1.818 1.101-.698 1.822-1.336 2.414-3.183-.643-3.398-1.629-4.282-2.914-4.777-.717-.949-3.496-1.618-6.15-2.257"/>
      <ellipse id="path1611-3" cx="87.205" cy="-105.053" fill="#d8a054" stroke="#000" stroke-width=".103" opacity=".52" rx=".791" ry=".58" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
      <ellipse id="path1613-8" cx="87.218" cy="-105.096" stroke="#000" stroke-width=".103" opacity=".52" rx=".356" ry=".279" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
      <path id="path1607-9" fill="#7f804f" stroke="#000" stroke-width=".085" d="M99.71-144.147c.599-.865 7.659-.253 10.838.745 4.81 2.113 7.381 3.574 10.085 5.074 1.373.278 2.695-1.108 4.03-2.076 2.348.97 1.833 1.175 2.4 1.67 1.453 3.668.8 2.571 1.043 3.501l-.206 1.265c1.873 1.431 3.185 2.175 4.304 2.684a48.92 48.92 0 0 0 7.42-1.549c.597 3.024 2.012 4.834 3.871 6.48l-2.6.285c2.617 1.244 5.242 2.598 7.736 2.253 4.531-.661 9.282-4.762 11.915-3.967-1.556 5.02-1.902 10.123-1.77 15.26-4.379-.263-6.57-4.61-10.344-5.998-3.33-.693-4.473-.32-6.584-.363l-1.197-.048 1.562 1.126c-3.261.948-3.886 3.299-6.579 4.55-1.292-1.457-.766-3.282-3.004-4.938l-4.873-.041c-4.355-.585-9.042-1.976-15.449-7.538l1.278 4.117c-1.17 1.458-2.565 2.116-4.08 2.345-.66-2.474.475-4.934 1.232-7.396-4.112-2.576-7.2-7.062-10.61-10.95-.584-2.184-1.835-2.838-.417-6.491z"/>
      <path id="path1609-0" fill="none" stroke="#000" stroke-width=".092" d="M104.16-133.056c2.511 1.192 5.307 2.434 7.633 1.216 1.12-.29 1.936-.644 3.207-2.122 1.074-3.248.757-4.343.044-5.18-.092-1.072-1.816-2.52-3.462-3.906"/>
      <ellipse id="path1611-5" cx="27.347" cy="-173.891" fill="#d8a054" stroke="#000" stroke-width=".092" opacity=".52" rx=".622" ry=".585" transform="rotate(28.03) skewX(-.141)"/>
      <ellipse id="path1613-2" cx="27.357" cy="-173.935" stroke="#000" stroke-width=".092" opacity=".52" rx=".28" ry=".282" transform="rotate(28.03) skewX(-.141)"/>
      <path id="path1607-9-3" fill="#a23e48" stroke="#000" stroke-width=".074" d="M120.29-93.786c.07-.967 5.339-3.735 8.008-4.404 4.285-.53 6.713-.55 9.25-.598 1.089-.412 1.46-2.13 2.012-3.52 2.066-.307 1.784.095 2.39.228 2.539 2.261 1.624 1.686 2.179 2.317l.372 1.106c1.919.28 3.156.269 4.16.159a42.202 42.202 0 0 0 4.638-4.66c1.665 2.14 3.414 2.933 5.41 3.391l-1.73 1.427c2.37-.213 4.791-.342 6.422-1.768 2.949-2.62 4.643-8.088 6.84-8.668.954 4.73 2.802 8.967 5.003 13.011-3.219 1.81-6.56-.653-9.812-.02-2.651.982-3.31 1.808-4.828 2.747l-.871.514 1.572.18c-1.928 2.261-1.408 4.428-2.808 6.67-1.516-.568-1.891-2.269-4.161-2.56l-3.48 2.215c-3.335 1.542-7.237 2.593-14.073 1.105l2.598 2.7c-.234 1.705-.955 2.874-1.938 3.756-1.484-1.672-1.687-4.161-2.16-6.478-3.979-.162-8.015-2.322-12.033-3.856-1.311-1.475-2.469-1.421-2.96-4.994z"/>
      <path id="path1609-0-8" fill="#a23e48" stroke="#000" stroke-width=".08" d="M128.003-86.975c2.274-.207 4.77-.505 5.924-2.55.677-.75 1.112-1.408 1.408-3.176-.569-3.091-1.244-3.82-2.094-4.16-.505-.814-2.324-1.176-4.063-1.524"/>
      <ellipse id="path1611-5-0" cx="129.066" cy="-88.881" fill="#a23e48" stroke="#000" stroke-width=".08" opacity=".52" rx=".511" ry=".54" transform="matrix(.99925 -.03865 .0284 .9996 0 0)"/>
      <ellipse id="path1613-2-2" cx="129.074" cy="-88.921" stroke="#000" stroke-width=".08" opacity=".52" rx=".23" ry=".26" transform="matrix(.99925 -.03865 .0284 .9996 0 0)"/>
    </g>
    <g id="layer3" transform="translate(-15.932 157.993)">
      <path id="pathfour1" fill="none"  d="M85.202 239.471v35.843h11.374v-14.501h61.498v14.501h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfour2" fill="none"  d="M85.202 203.628v35.843h11.374V224.97h61.498v14.501h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfour3" fill="none"  d="M85.202 167.786v35.842h11.374v-14.5h61.498v14.5h11.374v-35.842h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfour4" fill="none"  d="M85.202 131.943v35.843h11.374v-14.502h61.498v14.502h11.374v-35.843h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfour5" fill="none"  d="M85.202 96.1v35.843h11.374V117.44h61.498v14.502h11.374V96.1h-11.374v12.45H96.576V96.1z"/>
      <path id="pathfour6" fill="none"  d="M85.202 60.257V96.1h11.374V81.599h61.498V96.1h11.374V60.257h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfour7" fill="none"  d="M85.202 24.414v35.843h11.374V45.756h61.498v14.501h11.374V24.414h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfour8" fill="none"  d="M85.202-11.428v35.842h11.374V9.913h61.498v14.501h11.374v-35.842h-11.374V1.02H96.576v-12.45z"/>
      <path id="pathfour9" fill="none"  d="M85.202-47.271v35.843h11.374V-25.93h61.498v14.502h11.374v-35.843h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfour10" fill="none"  d="M85.202-83.114v35.843h11.374v-14.502h61.498v14.502h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
    </g>
    <g id="layer4">
      <path id="path73" fill="none" stroke="#000" stroke-width="1.852" d="M1.764 86.914h29.365"/>
      <path id="path75" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M17.962 70.083l-4.52.048 2.218-3.938z" transform="matrix(1.6389 0 0 1.34349 -9.47 -1.215)"/>
      <path id="path884" fill="none" stroke="#000" stroke-width="2.236" d="M16.226 90.856l.086 152.132"/>
      <path id="path886" fill="none" stroke="#000" stroke-width="1.852" d="M2.005 432.184h29.366"/>
      <path id="path888" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M18.204-199.143l-4.52.048 2.218-3.94z" transform="matrix(1.6389 0 0 -1.34349 -9.627 158.615)"/>
      <path id="path890" fill="none" stroke="#000" stroke-width="2.364" d="M16.464 427.175l.089-152.132"/>
      <text id="text894-3" x=".068" y="268.631" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
        <tspan id="tspan892-9" x=".068" y="268.631" font-size="25.4">{{ height }}</tspan>
      </text>
    </g>
    <g id="layer5">
      <text id="text894-3-7" x="17.98" y="41.875" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
        <tspan id="tspan86" x="17.98" y="41.875" font-size="14.111" style="line-height:14.15501404px;text-align:center" text-anchor="middle"><tspan id="tspan96" font-size="25.4" style="line-height:14.15501404px">
          {{ value }}
        </tspan></tspan><tspan id="tspan98" x="17.98" y="56.946" font-size="14.111" style="line-height:14.15501404px;text-align:center" text-anchor="middle">pts</tspan>
      </text>
    </g>
  </svg>

</template>
<!-- #86351e -->
<script>
export default {
  name: 'FishFour',
  props: ['profit'],
  watch: {
    sum () {
      var elements = [document.getElementById('pathfour1'), document.getElementById('pathfour2'),
      document.getElementById('pathfour3'), document.getElementById('pathfour4'),
      document.getElementById('pathfour5'), document.getElementById('pathfour6'),
      document.getElementById('pathfour7'), document.getElementById('pathfour8'),
      document.getElementById('pathfour9'), document.getElementById('pathfour10')]
      var ratio = Math.floor(this.sum /this.height * elements.length);

      for (var i = 0; i < elements.length; i++) {
        if (i < ratio) {
          elements[i].style.fill = '#5a351e'
        } else {
          elements[i].style.fill = 'none'
        }

      }
    }
  },
  computed: {
    height() {
      return this.profit.stamina;
    },
    sum() {
      return this.profit.sum;
    },
    value() {
      return this.profit.value;
    }
  }
}
</script>

<style scope lang="scss">
.fishone {
}
</style>
