<template lang="html">
  <svg xmlns="http://www.w3.org/2000/svg" id="svg3777" viewBox="0 0 215.897 292.0">
    <g id="layer1" transform="translate(-15.932 5.594)">
      <path id="path27-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M127.276 265.685c.302 5.243-56.453 2.664-75.979.33 0 0-3.715-5.649-3.04-13.824-.278-5.837 2.42-7.363 3.257-9.38l31.911-.987 29.775-.385c3.323.178 14.964-1.38 14.293 2.689 0 0 .826 6.157-.217 21.557z"/>
      <path id="path29-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.35 267.228c-26.09-.593-43.174.48-59.289-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.493 3.035 0 0 1.185 4.945.25 20.344-.153 1.916-3.954 1.555-6.891 1.733z"/>
      <path id="path31-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M157.92 238.379c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.788 239.818c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.864 2.689 0 0 6.603 23.749-.119 21.557z"/>
      <path id="path35-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.042 238.876c-1.214 3.385-51.451 3.461-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.719.308c2.027.261 8.985-2.216 9.935 6.5 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M128.125 212.538c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.178 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.67 214.081c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.945.25 20.344-.152 1.916-3.954 1.555-6.89 1.733z"/>
      <path id="path31-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M158.768 184.702c-2.095 3.463-51.401 1.741-62.165.358 0 0-3.333-6.14-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.045 4.618-.222 6.028.519.289-.417 17.028z"/>
      <path id="path33-8-4" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M89.637 186.67c-3.786-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.829.176 8.233-1.382 7.864 2.688 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.89 185.2c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.297-7.3l18.845-1.161 16.719.308c2.026.262 8.985-2.215 9.935 6.501 2.51 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.353 159.812c.302 5.243-56.454 2.663-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.315 161.78c-26.091-.594-43.175.48-59.29-1.058 0 0-2.222-4.434-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.765 1.24-2.378 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.035 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.953 1.554-6.89 1.733z"/>
      <path id="path31-3-22" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M155.86 132.34c-2.097 3.463-51.403 1.74-62.167.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.712.9c2.982.193 7.647.195 7.046 4.618-.222 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.471 133.704c-3.786-.89-31.878 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.865 2.689 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M207.981 132.233c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.694-14.69-.175-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.72.308c2.026.261 8.985-2.216 9.934 6.5 2.512 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path844" fill="#5a5354" stroke="#e5000b" stroke-width=".08" d="M36.078 286.49c2.226-7.069 8.115-11.696 13.793-16.463 9.582-5.22 93.217-1.863 148.778-3.114 0 0 16.343 8.53 21.189 19.132"/>
      <path id="path27-7-0-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.35 107.753c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.039-13.823-.279-5.837 2.419-7.363 3.257-9.38l31.91-.987 29.776-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M194.724 109.72c-26.09-.593-43.175.48-59.29-1.056 0 0-2.222-4.435-1.616-12.61-.25-5.838 1.06-8.75 1.811-10.766 1.24-2.378 15.573-.994 27.525-.295l26.718-.384c2.982.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.153 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path31-3-22-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M160.457 81.067c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M93.069 82.43c-3.787-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.264-19.021 1.81-7.471 14.034-2.84 20.031-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.748-.12 21.557z"/>
      <path id="path35-0-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M212.579 80.96c-1.214 3.384-51.452 3.46-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.284 3.298-7.3l18.844-1.161 16.719.308c2.027.262 8.985-2.215 9.935 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
    </g>
    <g id="layer2" transform="translate(-15.932 5.594)">
      <path id="path6090" fill="#310023" stroke="#050000" stroke-width=".159" d="M44.33 37.966a77.834 22.366 0 0 0 77.5 20.453 77.834 22.366 0 0 0 77.187-19.645z"/>
      <ellipse id="ellipse6111" cx="121.835" cy="38.075" fill="#626855" stroke="#050000" stroke-width=".167" rx="77.471" ry="6.724"/>
      <path id="path1607-3" fill="#df7c00" stroke="#000" stroke-width=".144" d="M63.666.854c.654-1.662 12.524-3.368 18.146-2.94C90.55-.438 95.35.99 100.38 2.433c2.37-.069 4.017-2.872 5.846-4.99 4.241.704 3.471 1.242 4.596 1.842 3.803 5.514 2.306 3.949 3.063 5.395l.145 2.173c3.637 1.648 6.084 2.375 8.124 2.787 4.53-1.697 8.65-3.716 11.632-5.422 2.145 4.777 5.173 7.228 8.868 9.238l-4.175 1.473c4.79 1.05 9.636 2.281 13.614.75 7.213-2.838 13.47-11.457 18.113-11.155-.638 8.91.75 17.492 2.937 25.944-7.315 1.25-12.593-5.102-19.348-5.947-5.754.136-7.494 1.194-10.988 1.935l-1.993.38 3.006 1.264c-5.01 2.825-5.138 6.958-9.095 10.065-2.688-1.914-2.522-5.138-6.845-7.018l-8.047 1.808c-7.401.709-15.66.21-28.353-6.53l3.686 6.324c-1.37 2.864-3.416 4.49-5.824 5.452-2.038-3.842-1.112-8.35-.81-12.718-7.764-2.682-14.575-8.92-21.686-14.044-1.8-3.39-4.113-3.991-3.179-10.584z"/>
      <path id="path1609-90" fill="none" stroke="#000" stroke-width=".156" d="M75.073 17.607c4.596 1.005 9.68 1.985 13.045-.926 1.736-.913 2.945-1.812 4.472-4.748.524-5.791-.42-7.481-1.915-8.594-.563-1.737-3.96-3.473-7.205-5.132"/>
      <ellipse id="path1611-52" cx="74.411" cy="-15.304" fill="#d8a054" stroke="#000" stroke-width=".156" opacity=".52" rx="1.054" ry=".994" transform="rotate(15)"/>
      <ellipse id="path1613-27" cx="74.429" cy="-15.378" stroke="#000" stroke-width=".156" opacity=".52" rx=".474" ry=".479" transform="rotate(15)"/>
      <path id="path1607-7" fill="#af7248" stroke="#000" stroke-width=".095" d="M83.765 31.82c.182-1.024 8.518-3.177 12.685-3.482 6.649.092 10.394.446 14.31.785 1.712-.273 2.415-2.055 3.37-3.458 3.211-.011 2.746.376 3.671.612 3.742 2.812 2.376 2.055 3.183 2.816l.49 1.241c2.938.595 4.847.774 6.405.812 2.996-1.426 5.636-2.998 7.505-4.277 2.406 2.55 5.043 3.668 8.087 4.466l-2.778 1.261c3.672.136 7.416.371 10.04-.904 4.746-2.35 7.775-7.945 11.207-8.227 1.112 5.21 3.64 10.033 6.727 14.702-5.102 1.442-10.067-1.71-15.13-1.534-4.164.644-5.243 1.427-7.655 2.198l-1.383.416 2.411.435c-3.145 2.124-2.507 4.525-4.838 6.71-2.294-.842-2.744-2.72-6.222-3.382l-5.536 1.836c-5.26 1.137-11.358 1.661-21.787-.985l3.801 3.291c-.49 1.79-1.69 2.93-3.273 3.724-2.163-2.02-2.286-4.716-2.839-7.27-6.124-.786-12.185-3.72-18.265-5.982-1.91-1.782-3.7-1.902-4.186-5.803z"/>
      <path id="path1609-9" fill="none" stroke="#000" stroke-width=".103" d="M95.119 40.393c3.522.128 7.395.194 9.329-1.818 1.101-.698 1.822-1.337 2.414-3.183-.643-3.398-1.629-4.282-2.914-4.778-.717-.948-3.496-1.617-6.15-2.257"/>
      <ellipse id="path1611-3" cx="94.285" cy="25.875" fill="#d8a054" stroke="#000" stroke-width=".103" opacity=".52" rx=".791" ry=".58" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
      <ellipse id="path1613-8" cx="94.299" cy="25.832" stroke="#000" stroke-width=".103" opacity=".52" rx=".356" ry=".279" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
    </g>
    <g id="layer3" transform="translate(-15.932 5.594)">
      <path id="pathtwo1" fill="none"  d="M85.202 237.89v37.424h11.374v-15.141h61.498v15.141h11.374v-37.425h-11.374v12.999H96.576v-12.999z"/>
      <path id="pathtwo2" fill="none"  d="M85.202 200.465v37.424h11.374v-15.141h61.498v15.141h11.374v-37.424h-11.374v12.998H96.576v-12.998z"/>
      <path id="pathtwo3" fill="none"  d="M85.202 163.04v37.425h11.374v-15.142h61.498v15.142h11.374V163.04h-11.374v12.999H96.576v-13z"/>
      <path id="pathtwo4" fill="none"  d="M85.202 125.615v37.425h11.374v-15.141h61.498v15.14h11.374v-37.424h-11.374v12.999H96.576v-12.999z"/>
      <path id="pathtwo5" fill="none"  d="M85.202 88.19v37.425h11.374v-15.141h61.498v15.141h11.374V88.191h-11.374v12.998H96.576V88.191z"/>
      <path id="pathtwo6" fill="none"  d="M85.202 50.766V88.19h11.374V73.049h61.498v15.142h11.374V50.766h-11.374v12.999H96.576v-13z"/>
    </g>
    <g id="layer4">
      <path id="path73" fill="none" stroke="#000" stroke-width="1.852" d="M3.116 66.158h29.366"/>
      <path id="path75" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M17.962 70.083l-4.52.048 2.218-3.938z" transform="matrix(1.6389 0 0 1.34349 -8.117 -21.971)"/>
      <path id="path884" fill="none" stroke="#000" stroke-width="2.179" d="M17.55 70.367l.142 87.307"/>
      <path id="path886" fill="none" stroke="#000" stroke-width="1.852" d="M3.357 279.667h29.366"/>
      <path id="path888" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M18.204-199.143l-4.52.048 2.218-3.94z" transform="matrix(1.6389 0 0 -1.34349 -8.275 6.098)"/>
      <path id="path890" fill="none" stroke="#000" stroke-width="2.305" d="M17.787 274.658l.147-87.307"/>
      <text id="text894-3" x=".645" y="180.577" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
        <tspan id="tspan892-9" x=".645" y="180.577" font-size="25.4">{{ height }}</tspan>
      </text>
    </g>
  <g id="layer5">
    <text id="text894-3-7" x="16.591" y="31.365"  fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
      <tspan id="tspan86" x="16.591" y="31.365" font-size="14.111" style="line-height:14.15501308px;text-align:center" text-anchor="middle"><tspan id="tspan96" font-size="25.4" style="line-height:14.15501308px">
        {{ value }}
      </tspan>
    </tspan>
    <tspan id="tspan98" x="16.591" y="46.436" font-size="14.111" style="line-height:14.15501308px;text-align:center" text-anchor="middle">pts</tspan>
    </text>
  </g>
  </svg>

</template>
<!-- #86351e -->
<script>
export default {
  name: 'FishTwo',
  props: ['profit'],
  watch: {
    sum () {
      var elements = [document.getElementById('pathtwo1'), document.getElementById('pathtwo2'),
      document.getElementById('pathtwo3'), document.getElementById('pathtwo4'),
      document.getElementById('pathtwo5'), document.getElementById('pathtwo6')]
      var ratio = Math.floor(this.sum /this.height * elements.length);

      for (var i = 0; i < elements.length; i++) {
        if (i < ratio) {
          elements[i].style.fill = '#5a351e'
        } else {
          elements[i].style.fill = 'none'
        }

      }
    }
  },
  computed: {
    height() {
      return this.profit.stamina;
    },
    sum() {
      return this.profit.sum;
    },
    value() {
      return this.profit.value;
    }
  }
}
</script>

<style scope lang="scss">
.fishone {
}
</style>
