<template lang="html">
  <svg xmlns="http://www.w3.org/2000/svg" id="svg3777" viewBox="0 0 215.897 507.994">
    <g id="layer1" transform="translate(-15.932 221.492)">
      <path id="path27-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M127.276 265.685c.302 5.243-56.453 2.664-75.979.33 0 0-3.715-5.649-3.04-13.824-.278-5.837 2.42-7.363 3.257-9.38l31.911-.987 29.775-.385c3.323.178 14.964-1.38 14.293 2.689 0 0 .826 6.157-.217 21.557z"/>
      <path id="path29-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.35 267.228c-26.09-.593-43.174.48-59.289-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.493 3.035 0 0 1.185 4.945.25 20.344-.153 1.916-3.954 1.555-6.891 1.733z"/>
      <path id="path31-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M157.92 238.379c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.788 239.818c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.864 2.689 0 0 6.603 23.749-.119 21.557z"/>
      <path id="path35-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.042 238.876c-1.214 3.385-51.451 3.461-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.719.308c2.027.261 8.985-2.216 9.935 6.5 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M128.125 212.538c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.178 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M190.67 214.081c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.719-.385c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.945.25 20.344-.152 1.916-3.954 1.555-6.89 1.733z"/>
      <path id="path31-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M158.768 184.702c-2.095 3.463-51.401 1.741-62.165.358 0 0-3.333-6.14-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.045 4.618-.222 6.028.519.289-.417 17.028z"/>
      <path id="path33-8-4" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M89.637 186.67c-3.786-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.829.176 8.233-1.382 7.864 2.688 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.89 185.2c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.297-7.3l18.845-1.161 16.719.308c2.026.262 8.985-2.215 9.935 6.501 2.51 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.353 159.812c.302 5.243-56.454 2.663-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.315 161.78c-26.091-.594-43.175.48-59.29-1.058 0 0-2.222-4.434-1.616-12.61-.25-5.837 1.059-8.749 1.81-10.765 1.24-2.378 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.035 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.953 1.554-6.89 1.733z"/>
      <path id="path31-3-22" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M155.86 132.34c-2.097 3.463-51.403 1.74-62.167.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.712.9c2.982.193 7.647.195 7.046 4.618-.222 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M88.471 133.704c-3.786-.89-31.878 4.597-41.804.329-2.312-3.06.158-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.822l15.292-.732c1.829.177 8.233-1.38 7.865 2.689 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M207.981 132.233c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.899-6.515-2.694-14.69-.175-5.837 2.77-5.283 3.298-7.3l18.844-1.16 16.72.308c2.026.261 8.985-2.216 9.934 6.5 2.512 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path844" fill="#5a5354" stroke="#e5000b" stroke-width=".08" d="M36.078 286.49c2.226-7.069 8.115-11.696 13.793-16.463 9.582-5.22 93.217-1.863 148.778-3.114 0 0 16.343 8.53 21.189 19.132"/>
      <path id="path27-7-0-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.35 107.753c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.039-13.823-.279-5.837 2.419-7.363 3.257-9.38l31.91-.987 29.776-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.84 109.72c-26.09-.593-43.174.48-59.29-1.056 0 0-2.221-4.435-1.615-12.61-.25-5.838 1.059-8.75 1.81-10.766 1.24-2.378 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.035 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.953 1.554-6.89 1.733z"/>
      <path id="path31-3-22-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M160.457 81.067c-2.096 3.462-51.402 1.74-62.166.357 0 0-3.333-6.139-2.727-15.025-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.827 28.713.9c2.981.193 7.647.195 7.046 4.618-.223 6.028.518.29-.417 17.029z"/>
      <path id="path33-8-7-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M93.069 82.43c-3.787-.89-31.879 4.598-41.804.33-2.312-3.06.157-10.087-1.264-19.021 1.81-7.471 14.034-2.84 20.031-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.748-.12 21.557z"/>
      <path id="path35-0-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M212.579 80.96c-1.214 3.384-51.452 3.46-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.284 3.298-7.3l18.844-1.161 16.719.308c2.027.262 8.985-2.215 9.935 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path27-7-0-7-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M132.182 56.48c.301 5.243-56.454 2.663-75.98.329 0 0-3.715-5.648-3.039-13.823-.279-5.837 2.419-7.363 3.257-9.38l31.91-.987 29.775-.385c3.324.177 14.964-1.38 14.294 2.688 0 0 .825 6.158-.217 21.557z"/>
      <path id="path29-9-5-9-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M196.143 58.447c-26.09-.593-43.175.48-59.29-1.057 0 0-2.222-4.435-1.615-12.61-.25-5.837 1.059-8.749 1.81-10.766 1.24-2.377 15.574-.993 27.525-.294l26.718-.384c2.983.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.732z"/>
      <path id="path33-8-7-2-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M92.9 31.157c-3.786-.89-31.878 4.598-41.803.33-2.312-3.06.157-10.087-1.264-19.022 1.81-7.47 14.034-2.84 20.03-4.822l15.293-.731c1.828.177 8.233-1.38 7.864 2.688 0 0 6.603 23.75-.12 21.557z"/>
      <path id="path35-0-3-2-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M212.41 29.687c-1.213 3.384-51.45 3.46-47.837.329 0 0-3.899-6.514-2.693-14.69-.176-5.836 2.77-5.283 3.297-7.3l18.845-1.16 16.719.308c2.026.262 8.985-2.215 9.935 6.5 2.51 8.685 1.734 16.013 1.734 16.013z"/>
      <path id="path31-3-24" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M161.169 30.016c-2.096 3.463-51.402 1.74-62.166.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.365-6.052 7.365-6.052l22.186-1.827 28.712.9c2.982.193 7.647.195 7.046 4.618-.222 6.028.518.29-.417 17.029z"/>
      <path id="path27-7-0-7-7-8" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M130.236 3.98c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9-9-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M193.14 5.948c-26.092-.594-43.176.48-59.29-1.057 0 0-2.223-4.435-1.616-12.61-.25-5.837 1.058-8.75 1.81-10.766 1.24-2.378 15.574-.994 27.525-.295l26.718-.384c2.983.177 12.094-1.035 11.493 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path33-8-7-2-3-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M90.955-21.342c-3.786-.89-31.879 4.597-41.804.329-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.748-.12 21.557z"/>
      <path id="path35-0-3-2-8-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M210.465-22.813c-1.214 3.384-51.451 3.46-47.838.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.284 3.298-7.3l18.844-1.161 16.72.308c2.026.262 8.984-2.215 9.934 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path31-3-24-5" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M159.223-22.484c-2.096 3.463-51.402 1.74-62.166.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.826 28.712.9c2.982.193 7.647.194 7.046 4.618-.222 6.027.518.289-.417 17.028z"/>
      <path id="path27-7-0-7-7-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M124.94-48.205c.302 5.243-56.454 2.664-75.98.329 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9-9-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M187.844-46.237c-26.091-.594-43.175.48-59.29-1.057 0 0-2.222-4.435-1.616-12.61-.25-5.837 1.059-8.75 1.81-10.766 1.24-2.377 15.574-.994 27.525-.295l26.719-.384c2.982.177 12.094-1.034 11.492 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path33-8-7-2-3-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M84.6-73.527c-3.786-.89-31.878 4.597-41.803.329-2.312-3.06.157-10.087-1.263-19.021 1.81-7.471 14.033-2.84 20.03-4.823l15.292-.73c1.828.176 8.233-1.382 7.864 2.688 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-3-2-8-3" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M204.11-74.998c-1.213 3.384-51.45 3.46-47.837.33 0 0-3.898-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.298-7.3l18.844-1.161 16.719.308c2.027.262 8.985-2.215 9.935 6.501 2.511 8.684 1.735 16.012 1.735 16.012z"/>
      <path id="path31-3-24-7" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M152.87-74.669c-2.097 3.463-51.403 1.74-62.167.358 0 0-3.333-6.14-2.726-15.026-.25-6.345 7.366-6.052 7.366-6.052l22.185-1.826 28.712.9c2.982.193 7.647.194 7.046 4.618-.222 6.027.518.289-.417 17.028z"/>
      <path id="path27-7-0-7-7-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M124.519-100.31c.302 5.244-56.454 2.665-75.98.33 0 0-3.714-5.648-3.038-13.823-.28-5.837 2.418-7.363 3.256-9.38l31.911-.987 29.775-.385c3.323.177 14.963-1.38 14.293 2.689 0 0 .825 6.157-.217 21.557z"/>
      <path id="path29-9-5-9-9-0" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M187.12-98.341c-26.092-.594-43.176.48-59.29-1.057 0 0-2.223-4.435-1.616-12.61-.25-5.837 1.058-8.75 1.81-10.766 1.24-2.377 15.573-.994 27.525-.294l26.718-.385c2.982.177 12.094-1.034 11.493 3.035 0 0 1.185 4.944.25 20.344-.152 1.915-3.954 1.554-6.89 1.733z"/>
      <path id="path33-8-7-2-3-2" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M83.195-125.631c-3.786-.89-31.878 4.597-41.803.329-2.312-3.06.157-10.087-1.264-19.021 1.81-7.471 14.034-2.84 20.03-4.822l15.293-.732c1.828.177 8.233-1.38 7.864 2.689 0 0 6.603 23.749-.12 21.557z"/>
      <path id="path35-0-3-2-8-39" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M202.706-127.102c-1.214 3.384-51.452 3.46-47.838.33 0 0-3.899-6.515-2.693-14.69-.176-5.837 2.77-5.283 3.297-7.3l18.845-1.161 16.719.309c2.026.261 8.985-2.216 9.935 6.5 2.51 8.684 1.734 16.012 1.734 16.012z"/>
      <path id="path31-3-24-9" fill="#ffd79f" stroke="#e5040b" stroke-linejoin="round" stroke-width=".45" d="M151.464-126.773c-2.096 3.463-51.402 1.74-62.166.358 0 0-3.333-6.14-2.726-15.025-.25-6.346 7.365-6.052 7.365-6.052l22.186-1.827 28.712.9c2.982.193 7.647.194 7.046 4.618-.222 6.028.518.289-.417 17.028z"/>
    </g>
    <g id="layer2" transform="translate(-15.932 221.492)">
      <path id="path6090" fill="#310023" stroke="#050000" stroke-width=".159" d="M41.185-170.147a77.834 22.366 0 0 0 77.498 20.453 77.834 22.366 0 0 0 77.188-19.645z"/>
      <ellipse id="ellipse6111" cx="118.689" cy="-170.038" fill="#626855" stroke="#050000" stroke-width=".167" rx="77.471" ry="6.724"/>
      <path id="path1607-3" fill="#df7c00" stroke="#000" stroke-width=".144" d="M60.52-207.26c.654-1.661 12.524-3.367 18.146-2.938 8.737 1.646 13.536 3.075 18.567 4.517 2.37-.069 4.017-2.872 5.846-4.99 4.24.704 3.47 1.242 4.596 1.842 3.803 5.514 2.305 3.949 3.063 5.395l.144 2.173c3.637 1.648 6.084 2.375 8.125 2.787 4.53-1.697 8.65-3.716 11.632-5.421 2.145 4.776 5.173 7.227 8.868 9.237l-4.176 1.473c4.79 1.05 9.636 2.281 13.615.75 7.213-2.838 13.47-11.456 18.113-11.155-.638 8.91.75 17.492 2.937 25.944-7.315 1.251-12.593-5.102-19.348-5.946-5.754.135-7.494 1.193-10.989 1.934l-1.992.38 3.006 1.264c-5.01 2.825-5.138 6.958-9.095 10.065-2.688-1.914-2.522-5.138-6.845-7.018l-8.047 1.808c-7.401.709-15.66.21-28.353-6.53l3.686 6.324c-1.37 2.864-3.416 4.49-5.824 5.453-2.038-3.843-1.112-8.351-.81-12.72-7.764-2.68-14.576-8.919-21.686-14.043-1.801-3.39-4.113-3.991-3.18-10.584z"/>
      <path id="path1609-90" fill="none" stroke="#000" stroke-width=".156" d="M71.927-190.506c4.596 1.005 9.68 1.985 13.045-.926 1.736-.913 2.945-1.811 4.472-4.748.524-5.791-.42-7.48-1.915-8.594-.563-1.737-3.96-3.473-7.205-5.132"/>
      <ellipse id="path1611-52" cx="17.509" cy="-215.511" fill="#d8a054" stroke="#000" stroke-width=".156" opacity=".52" rx="1.054" ry=".994" transform="rotate(15)"/>
      <ellipse id="path1613-27" cx="17.526" cy="-215.585" stroke="#000" stroke-width=".156" opacity=".52" rx=".474" ry=".479" transform="rotate(15)"/>
      <path id="path1607-7" fill="#af7248" stroke="#000" stroke-width=".095" d="M80.619-176.292c.182-1.025 8.518-3.177 12.685-3.483 6.648.093 10.394.446 14.31.785 1.711-.273 2.414-2.055 3.37-3.458 3.211-.01 2.746.376 3.67.612 3.743 2.812 2.377 2.055 3.184 2.816l.49 1.241c2.938.595 4.847.774 6.405.812 2.996-1.426 5.636-2.998 7.505-4.277 2.406 2.55 5.043 3.668 8.087 4.466l-2.778 1.261c3.671.137 7.416.371 10.04-.904 4.746-2.35 7.775-7.945 11.207-8.227 1.112 5.21 3.64 10.033 6.727 14.702-5.102 1.442-10.067-1.71-15.131-1.534-4.164.644-5.242 1.427-7.654 2.198l-1.383.417 2.411.434c-3.145 2.125-2.508 4.525-4.838 6.71-2.294-.842-2.744-2.72-6.222-3.382l-5.536 1.836c-5.26 1.137-11.358 1.662-21.787-.985l3.801 3.291c-.49 1.79-1.691 2.93-3.273 3.724-2.163-2.02-2.287-4.716-2.839-7.27-6.124-.786-12.185-3.72-18.265-5.982-1.91-1.782-3.7-1.902-4.186-5.803z"/>
      <path id="path1609-9" fill="none" stroke="#000" stroke-width=".103" d="M91.973-167.72c3.522.128 7.395.195 9.329-1.818 1.101-.698 1.822-1.336 2.414-3.183-.643-3.398-1.629-4.282-2.914-4.778-.717-.948-3.496-1.617-6.15-2.257"/>
      <ellipse id="path1611-3" cx="84.909" cy="-181.649" fill="#d8a054" stroke="#000" stroke-width=".103" opacity=".52" rx=".791" ry=".58" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
      <ellipse id="path1613-8" cx="84.922" cy="-181.692" stroke="#000" stroke-width=".103" opacity=".52" rx=".356" ry=".279" transform="matrix(.99735 .07269 -.0299 .99955 0 0)"/>
      <path id="path1607-9" fill="#7f804f" stroke="#000" stroke-width=".085" d="M99.71-220.875c.599-.865 7.659-.253 10.838.745 4.81 2.113 7.381 3.574 10.085 5.074 1.373.278 2.695-1.108 4.03-2.077 2.348.97 1.833 1.176 2.4 1.67 1.453 3.67.8 2.572 1.043 3.502l-.206 1.265c1.873 1.431 3.185 2.175 4.304 2.684a48.92 48.92 0 0 0 7.42-1.549c.597 3.024 2.012 4.834 3.871 6.48l-2.6.285c2.617 1.243 5.242 2.598 7.736 2.253 4.531-.661 9.282-4.762 11.915-3.967-1.556 5.02-1.902 10.123-1.77 15.26-4.379-.263-6.57-4.61-10.344-5.998-3.33-.693-4.473-.32-6.584-.363l-1.197-.049 1.562 1.127c-3.261.948-3.886 3.299-6.579 4.55-1.292-1.457-.766-3.282-3.004-4.938l-4.873-.042c-4.355-.584-9.042-1.975-15.449-7.537l1.278 4.117c-1.17 1.458-2.565 2.116-4.08 2.345-.66-2.474.475-4.934 1.232-7.396-4.112-2.576-7.2-7.063-10.61-10.95-.584-2.184-1.835-2.838-.417-6.491z"/>
      <path id="path1609-0" fill="none" stroke="#000" stroke-width=".092" d="M104.16-209.784c2.511 1.191 5.307 2.433 7.633 1.216 1.12-.29 1.936-.644 3.207-2.122 1.074-3.248.757-4.343.044-5.18-.092-1.072-1.816-2.52-3.462-3.906"/>
      <ellipse id="path1611-5" cx="-8.877" cy="-241.619" fill="#d8a054" stroke="#000" stroke-width=".092" opacity=".52" rx=".622" ry=".585" transform="rotate(28.03) skewX(-.141)"/>
      <ellipse id="path1613-2" cx="-8.866" cy="-241.663" stroke="#000" stroke-width=".092" opacity=".52" rx=".28" ry=".282" transform="rotate(28.03) skewX(-.141)"/>
      <path id="path1607-9-3" fill="#a23e48" stroke="#000" stroke-width=".074" d="M120.29-170.514c.07-.967 5.339-3.736 8.008-4.405 4.285-.53 6.713-.549 9.25-.598 1.089-.411 1.46-2.128 2.012-3.518 2.066-.308 1.784.094 2.39.227 2.539 2.261 1.624 1.686 2.179 2.317l.372 1.106c1.919.279 3.156.268 4.16.159a42.202 42.202 0 0 0 4.638-4.661c1.665 2.14 3.414 2.934 5.41 3.392l-1.73 1.427c2.37-.214 4.791-.343 6.422-1.769 2.949-2.618 4.643-8.087 6.84-8.667.954 4.73 2.802 8.967 5.003 13.01-3.219 1.81-6.56-.652-9.812-.02-2.651.983-3.31 1.809-4.828 2.748l-.871.514 1.572.179c-1.928 2.262-1.408 4.43-2.808 6.67-1.516-.567-1.891-2.268-4.161-2.56l-3.48 2.216c-3.335 1.542-7.237 2.593-14.073 1.104l2.598 2.7c-.234 1.706-.955 2.875-1.938 3.757-1.484-1.673-1.687-4.161-2.16-6.479-3.979-.161-8.015-2.321-12.033-3.855-1.311-1.476-2.469-1.421-2.96-4.994z"/>
      <path id="path1609-0-8" fill="#a23e48" stroke="#000" stroke-width=".08" d="M128.003-163.704c2.274-.206 4.77-.504 5.924-2.55.677-.749 1.112-1.408 1.408-3.175-.569-3.091-1.244-3.82-2.094-4.16-.505-.814-2.324-1.177-4.063-1.524"/>
      <ellipse id="path1611-5-0" cx="131.245" cy="-165.556" fill="#a23e48" stroke="#000" stroke-width=".08" opacity=".52" rx=".511" ry=".54" transform="matrix(.99925 -.03865 .0284 .9996 0 0)"/>
      <ellipse id="path1613-2-2" cx="131.253" cy="-165.596" stroke="#000" stroke-width=".08" opacity=".52" rx=".23" ry=".26" transform="matrix(.99925 -.03865 .0284 .9996 0 0)"/>
      <path id="path1607-9-4" fill="#a47848" stroke="#000" stroke-width=".063" d="M146.372-196.175c.482-.61 5.755.109 8.1.962 3.525 1.733 5.397 2.902 7.366 4.105 1.019.256 2.065-.709 3.105-1.367 1.723.801 1.328.932 1.735 1.316.945 2.743.499 1.914.644 2.605l-.204.918c1.349 1.12 2.304 1.716 3.123 2.132 2.14-.159 4.145-.501 5.627-.85.329 2.238 1.32 3.618 2.65 4.896l-1.962.109c1.914 1.011 3.83 2.104 5.715 1.947 3.424-.31 7.15-3.132 9.094-2.449-1.365 3.618-1.825 7.343-1.929 11.11-3.274-.36-4.746-3.628-7.523-4.79-2.471-.635-3.343-.406-4.925-.518l-.896-.082 1.127.885c-2.483.57-3.045 2.268-5.114 3.08-.911-1.116-.445-2.433-2.059-3.732l-3.654-.217c-3.243-.596-6.705-1.795-11.293-6.115l.797 3.065c-.935 1.023-2.007 1.451-3.152 1.561-.399-1.838.55-3.596 1.214-5.37-2.983-2.046-5.124-5.45-7.528-8.43-.353-1.622-1.265-2.15-.058-4.77z"/>
      <path id="path1609-0-83" fill="#a47848" stroke="#000" stroke-width=".068" d="M149.273-187.879c1.837.97 3.886 1.987 5.678 1.184.852-.17 1.478-.397 2.49-1.431.933-2.339.738-3.153.237-3.794-.028-.788-1.263-1.916-2.444-2.994"/>
      <ellipse id="path1611-5-9" cx="26.729" cy="-243.203" fill="#a47848" stroke="#000" stroke-width=".068" opacity=".52" rx=".465" ry=".432" transform="matrix(.86223 .50652 -.5266 .85011 0 0)"/>
      <ellipse id="path1613-2-0" cx="26.737" cy="-243.235" fill="#000002" stroke="#000" stroke-width=".068" opacity=".52" rx=".209" ry=".208" transform="matrix(.86223 .50652 -.5266 .85011 0 0)"/>
    </g>
    <g id="layer3" transform="translate(-15.932 221.492)">
      <path id="pathfive1" fill="none"  d="M85.202 239.471v35.843h11.374v-14.501h61.498v14.501h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive2" fill="none"  d="M85.202 203.628v35.843h11.374V224.97h61.498v14.501h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive3" fill="none"  d="M85.202 167.786v35.842h11.374v-14.5h61.498v14.5h11.374v-35.842h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfive4" fill="none"  d="M85.202 131.943v35.843h11.374v-14.502h61.498v14.502h11.374v-35.843h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfive5" fill="none"  d="M85.202 96.1v35.843h11.374V117.44h61.498v14.502h11.374V96.1h-11.374v12.45H96.576V96.1z"/>
      <path id="pathfive6" fill="none"  d="M85.202 60.257V96.1h11.374V81.599h61.498V96.1h11.374V60.257h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive7" fill="none"  d="M85.202 24.414v35.843h11.374V45.756h61.498v14.501h11.374V24.414h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive8" fill="none"  d="M85.202-11.428v35.842h11.374V9.913h61.498v14.501h11.374v-35.842h-11.374V1.02H96.576v-12.45z"/>
      <path id="pathfive9" fill="none"  d="M85.202-47.271v35.843h11.374V-25.93h61.498v14.502h11.374v-35.843h-11.374v12.449H96.576v-12.45z"/>
      <path id="pathfive10" fill="none"  d="M85.202-83.114v35.843h11.374v-14.502h61.498v14.502h11.374v-35.843h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive11" fill="none"  d="M85.202-118.957v35.843h11.374v-14.501h61.498v14.5h11.374v-35.842h-11.374v12.45H96.576v-12.45z"/>
      <path id="pathfive12" fill="none"  d="M85.202-154.8v35.843h11.374v-14.501h61.498v14.501h11.374V-154.8h-11.374v12.45H96.576v-12.45z"/>
      </g>
      <g id="layer4">
      <path id="path73" fill="none" stroke="#000" stroke-width="1.852" d="M3.297 73.994h29.366"/>
      <path id="path75" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M17.962 70.083l-4.52.048 2.218-3.938z" transform="matrix(1.6389 0 0 1.3435 -7.936 -14.136)"/>
      <path id="path884" fill="none" stroke="#000" stroke-width="2.25" d="M17.766 78.2l.072 185.205"/>
      <path id="path886" fill="none" stroke="#000" stroke-width="1.852" d="M3.538 496.522h29.366"/>
      <path id="path888" stroke-dasharray="1.56102004,1.56102004" stroke-width="1.561" d="M18.204-199.143l-4.52.048 2.218-3.94z" transform="matrix(1.6389 0 0 -1.3435 -8.094 222.952)"/>
      <path id="path890" fill="none" stroke="#000" stroke-width="2.379" d="M18.005 491.513l.073-185.205"/>
      <text id="text894-3" x="1.565" y="293.874" fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
        <tspan id="tspan892-9" x="1.565" y="293.874" font-size="25.4">{{ height }}</tspan>
      </text>
    </g>
    <g id="layer5">
      <text id="text894-3-7" x="17.102" y="37.015"  fill="#6D4620" stroke-width=".238" font-family="Impact, Charcoal, sans-serif" font-size="10.583" font-weight="400">
        <tspan id="tspan86" x="17.102" y="37.015" font-size="14.111" style="line-height:14.15504074px;text-align:center" text-anchor="middle"><tspan id="tspan96" font-size="25.4" style="line-height:14.15504074px">
          {{ value }}
        </tspan></tspan><tspan id="tspan98" x="17.102" y="52.087" font-size="14.111" style="line-height:14.15504074px;text-align:center" text-anchor="middle">pts</tspan>
      </text>
    </g>
  </svg>


</template>
<!-- #86351e -->
<script>
export default {
  name: 'FishFive',
  props: ['profit'],
  watch: {
    sum () {
      var elements = [document.getElementById('pathfive1'), document.getElementById('pathfive2'),
      document.getElementById('pathfive3'), document.getElementById('pathfive4'),
      document.getElementById('pathfive5'), document.getElementById('pathfive6'),
      document.getElementById('pathfive7'), document.getElementById('pathfive8'),
      document.getElementById('pathfive9'), document.getElementById('pathfive10'),
      document.getElementById('pathfive11'), document.getElementById('pathfive12')]
      var ratio = Math.floor(this.sum /this.height * elements.length);

      for (var i = 0; i < elements.length; i++) {
        if (i < ratio) {
          elements[i].style.fill = '#5a351e'
        } else {
          elements[i].style.fill = 'none'
        }

      }
    }
  },
  computed: {
    height() {
      return this.profit.stamina;
    },
    sum() {
      return this.profit.sum;
    },
    value() {
      return this.profit.value;
    }
  }
}
</script>

<style scope lang="scss">
.fishone {
}
</style>
